[2016-07-19 17:41] darrelmiller opened #6 "References to RFC2616 should probably be switched to RFC 7231 or RFC 7230"
RFC 2616 was been replaced by RFC 7230,7231,7232,7233,7334 and 7235 two years ago and is a more consistent, accurate and clearer description of HTTP.  Most of the core semantics of HTTP are described in 7231 and would be a better reference than pointing to RFC 2616

[2016-07-19 17:49] darrelmiller opened #7 "Section 7.4 Supported Verbs should really be Supported Methods"
Although it is common practice to use the phrase HTTP verb, it is inconsistent with the [HTTP specification](https://tools.ietf.org/html/rfc7231#section-4.3), the [.net framework](https://msdn.microsoft.com/en-us/library/system.net.http.httpmethod%28v=vs.118%29.aspx?f=255&MSPPError=-2147217396) and the [IANA Method Registry](https://www.iana.org/assignments/http-methods/http-methods.xml).

Althoug

[2016-07-19 18:29] RobDolinMS commented on #6
Thanks for the suggestion @darrelmiller.  Would you want to submit as a pull request?

[2016-07-19 18:31] darrelmiller commented on #6
Sure, I can do that.

[2016-07-19 19:04] lumaxis opened #8 "Many parts of the guidelines are in all caps"
I'm aware of [RFC2119](https://www.ietf.org/rfc/rfc2119.txt) which recommends to capitalize certain key words but was wondering if there's also a reason to all capitalize for example headings and the table of contents?

If there is no greater reason, I would vote to either Title case or Start Case the guidelines to increase readability and make them more friendly to the eyes of the reader.

[2016-07-19 19:15] choudeshell opened #9 "OPTIONS must be idempotent"
Per RFC 7231, OPTIONS is defined as a safe method. RFC 7231 also states all safe methods are idempotent, hence OPTIONS must be idempotent.

[2016-07-19 20:16] darrelmiller opened #10 "Potential alternative to the new "Operation-Location" header"
ref: https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#1321-put

For long running operations that return 202, it is suggested to use `Operation-Location` to refer to a resource that can be monitored to determine when the requested operation is complete.  Although, not explicitly specified by the HTTP spec, it is common practice to use the `Location` header to point to this stat

[2016-07-19 20:29] dret opened #12 "RFC 2616 is obsolete"
as https://tools.ietf.org/html/rfc2616 shows, RFC 2616 has been obsoleted by a set of newer RFCs a while ago. @mnot has an excellent post about this at https://www.mnot.net/blog/2014/06/07/rfc2616_is_dead, which is already 2 years old. it will not be trivial to remove all RFC 2616 references from the guidelines, but it should be done better sooner than later since HTTP is such a central piece.

[2016-07-19 20:39] dret opened #13 "how to identify canonical URIs (section 7.3)"
what about recommending that resources specifying canonical URIs should do so using the "canonical" link relation type as specified in https://tools.ietf.org/html/rfc6596? that would help to make those canonical links more easily discoverable across APIs.

[2016-07-19 20:42] imajes opened #14 "GET urls often fail to meet the relevant spec standards"
For example,

[code]

In this example, the success of this request is contingent on the HTTP client replacing ` ` with `%20`. Are you sure that's what you mean here? I notice also you don't make mention of potential SQL injection and similar issues arising from such a request-driven-dsl in this case.

[2016-07-19 20:44] imajes opened #15 "Consideration: Breaking standards into separate markdown files?"
The standards are long and extensive, covering many areas of an API. Is there any consideration worth making to split into multiple files, perhaps one per chapter? Especially since you can use build tools to combine + publish a final spec file. This may make it easier to manage the document in the longer term.

[2016-07-19 20:45] gregpardo commented on #6
Issue #12 is a duplicate of this I believe

[2016-07-19 20:50] dret commented on #14
On 2016-07-19 22:42, James Cox wrote:

i'd assume that proper URI escaping is a requirement for any of the
examples given. showing examples *with* escaping is a bit hard to read,
so i think showing them unescaped makes sense. but yes, there should be
very clear language about the fact that URI escaping is absolutely
necessary.

and of course there's the wonderful issue of IRIs. those at least shou

[2016-07-19 20:55] imajes commented on #14
@dret: Yes, it can make it harder to read, which to me implies that it's a poorer design choice, as it muddies what is considered a canonical resource. Should these requests be made with a JSON payload, describing the arguments? How should this request, for example, be made when PII is stored? What is the appropriate Header name to use in that case? Why are `$` being used to determine keys, when t

[2016-07-19 20:56] francescorw opened #17 "Section 8.2 of Guidelines.md: JSON-P linked website is actually a parked domain"
The referenced website http://www.json-p.org/ hosts the classic "domain for sale" page.

[2016-07-19 20:56] darrelmiller commented on #12
@dret Beat you to it #6  ;-)

[2016-07-19 20:59] dret commented on #12
On 2016-07-19 22:56, Darrel wrote:

oops. you're fast, @darrelmiller. closing this one as a duplicate of #6.

[2016-07-19 20:59] #12 closed

[2016-07-19 21:09] francescorw opened #18 "Section 11.3.2: the date used in the example does not match its description"
The date written in the example is _2015-02-**15**T13:15Z_ but two lines before this date is introduced as "February **13**, 2015, at 1:15 p.m. UTC"

[2016-07-19 21:19] francescorw commented on #17
Whoops, closed due to already existing pull request https://github.com/Microsoft/api-guidelines/pull/16

[2016-07-19 21:19] #17 closed

[2016-07-19 21:23] RobDolinMS commented on #17
Thanks for opening the issue @francescorw and thanks for cleaning it up too :)

[2016-07-19 21:24] RobDolinMS commented on #18
Nice catch @francescorw.  Would you want to submit a pull request to fix this?

[2016-07-19 21:39] #18 closed

[2016-07-19 21:56] manoj-agarwal commented on #9
I agree: https://github.com/Microsoft/api-guidelines/pull/20

[2016-07-19 22:42] dkershaw10 opened #21 "Bug: Example GET request/response in 9.3.1 seems wrong"
GET https://api.contoso.com/v1.0/people/123/addresses is shown as an example and returns a people entity back.  Either the request should not have "addresses" or the response should show the addresses collection.

[2016-07-20 00:36] johnnliu commented on #8
I read the guideline again after seeing this issue and I'm inclined to agree.

- The table of contents itself is inconsistent with casing.
- All caps has actual meanings in the actual guideline both as technical words: e.g. REST, RESTful, HTTPS, OPTIONS
- And as part of the requirements language https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#43-requirements-language "MUST, S

[2016-07-20 01:12] mj1856 opened #22 "Feedback on Dates and Times in Section 11"
Please review the following constructive criticism with regard to the date and time guidelines in section 11.

### `Iso8601Literal` is poorly defined

- ECMAScript is not the normative reference for ISO8601, and actually gets parts of it wrong.  For details, refer to [my blog on this subject](http://codeofmatt.com/2015/06/17/javascript-date-parsing-changes-in-es6/), and to tc39/ecma262#87 and tc39

[2016-07-20 01:48] avoidwork opened #23 "7.4.4 Link header example value is incorrect"
Hi,

The `Link` header value is defined as `"<" URI-Reference ">" *( ";" link-param )` by rfc5988, the current value form uses `{help}` instead of `</help>`. I assume the URI for `help` is meant to be relative to root, as defined by https://tools.ietf.org/html/rfc3987#section-3.1

Is the following:
[code]

Probably should be:
[code]

Including a link to the IANA reference might be useful for peopl

[2016-07-20 04:12] garethj-msft commented on #22
Matt, thank you very much for the detailed feedback.

[2016-07-20 04:19] sharwell opened #25 "Proposal preview: "Universal versioning""
# Universal versioning

Changes in API versions can be problematic for existing applications. In particular, small businesses who use external contractors to develop applications that interact with web services can be left without a critical piece of functionality after elimination of a deprecated API, even if the service provider continues to offer the underlying functionality under a different n

[2016-07-20 04:38] maggiepint commented on #22
I'll generally just agree with Matt here, but would add the following:

This text assumes that all date values exchanged by a REST API are defined by a point in time. This assumption is incorrect and does not hold water in the real world.

For instance, one might want to express this information in an API:

This is a datetime value, that would be expressed by the ISO8601 standard as ``2016-11-25T0

[2016-07-20 04:49] mj1856 commented on #22
Yes, I'll agree with Maggie's statements (thank you).  The `partial-time` format is indeed worth adding.

On the Black Friday example, I suppose that is indeed a valid value - and one might get it by using a .NET `DateTime` having `DateTimeKind.Unspecified`.  However - in the vast majority of use cases I've encountered - the value is usually intended to describing a specific moment in time, rather

[2016-07-20 05:10] mj1856 commented on #22
@garethj-msft  - No problem, glad to help.  I'm going to ask some of the other @mspnp guys to take a look at the other parts of the guidelines also.  Date/time just happens to be my thing. :smile:

[2016-07-20 05:25] RobDolinMS commented on #15
Thanks @imajes.  There were definitely multiple perspectives on this as we prepared to publish the guidelines.  Some folks felt we should break-down the single Guidelines.md file into multiple files for some of the reasons you state above.  Others preferred the simplicity of a single file (with hyperlinked index) as it eliminates the requirement of any tooling to combine + publish; and it makes re

[2016-07-20 06:06] RobDolinMS commented on #8
Thanks for the suggestions @lumaxis and @johnnliu.
I believe this is just a remnant from when we converted the guidelines into Markdown.
Anyone wanting to submit a pull request to fix these from ALL CAPS would be appreciated.

[2016-07-20 07:33] decoderwheel opened #27 "Accept: being optional"
Which HTTP guidelines specify that the content-types preferred by the client in the Accept: header are optional? I can't find anything to support that assertion. The header itself is optional, but as far as I know the server should either comply with the client's request, or return 406 Not Acceptable.

[2016-07-20 08:04] damienbod opened #28 "HTTP Status codes are missing"
The HTTP Status codes are referenced but a recommendation is not defined anywhere.

Here's a good example.

https://brockallen.com/2012/05/14/http-status-codes-for-rest/

[2016-07-20 13:57] darrelmiller commented on #28
@damienbod  I think all the HTTP status codes are potentially valid options for a HTTP/REST API and therefore there seems no point to re-listing what is already listed here https://tools.ietf.org/html/rfc7231#section-6.1

For interaction scenarios that are part of the guidelines, the appropriate status codes are mentioned.

[2016-07-20 14:05] darrelmiller commented on #23
@avoidwork The guidelines seem to use `{help}` as a kind of URL parameter that is supposed to be replaced by the actual URL.  So I believe what the spec should say is,

`Link: <{help}>; rel="help"`

[2016-07-20 17:21] bbarry commented on #27
https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.1

[2016-07-20 18:11] avoidwork commented on #23
👍 if it's a place holder that makes sense to me.

[2016-07-20 18:26] decoderwheel commented on #27
@bbarry Yes, that's what I said. However, the REST guidelines say (my emphasis):

However, I've just answered my own question; RFC2616 was obsoleted by RFC 7231 (amongst others), which now says this in Section 5.3.2:

I'd argue that's bad practice, but it is part of the spec.

[2016-07-20 18:26] #27 closed

[2016-07-20 20:08] cleemullins commented on #7
Up for writing the PR?

[2016-07-20 20:11] cleemullins commented on #8
@BasThomas PR, found [here,](https://github.com/Microsoft/api-guidelines/pull/26) addresses most of this.

As soon as I get get another set of eyes on it, I'll merge it in. #26

[2016-07-20 20:20] darrelmiller commented on #7
@cleemullins Sure.  I'm going to finish the 2616->723x PR first.  That's taking a bit longer than I thought because there were a few things I need to research around the reference to header values.

[2016-07-20 20:38] damienbod commented on #28
@darrelmiller true, but I think a recommended status code response list with headers for the PUT, CREATE, DELETE, GET and PATCH helps.

At the least, the reference to the HTTP Status codes in the document should reference your link.

[2016-07-20 21:28] #8 closed

[2016-07-20 21:30] RobDolinMS commented on #9
Closing as this is fixed in #20.
Thanks @choudeshell for reporting and thanks @manoj-agarwal for preparing the PR.

[2016-07-20 21:30] #9 closed

[2016-07-21 19:54] cleemullins commented on #25
If I can summarize what I'm reading, to see if I understand it:

1. When new changes are introduced, they should be back-ported to earlier versions.
2. Clients on the earlier versions ("/v1.2/") now have access to the same API's that are in "/v6.9".

This approach works for additive APIs - that is, API's that done make breaking changes to behavior. Services such as Azure and O365 spend huge amount

[2016-07-21 22:20] sharwell commented on #25
A better way to interpret this is the documentation accommodates for prior versions. For example, you could say that a call has been available since version 1.2, and implementations prior to 1.2 will return a **501** when you call the method. The client is then responsible for ensuring the client behaves properly if a **501** is ever received from this call.

In most forms where I've considered th

[2016-07-21 23:02] cleemullins commented on #25
A common example is error codes. The adding of a new error code to an API is often a breaking change to clients. Yet more detailed error codes are often something clients really want added between API versions.

This means front ends are stuck mapping between old/new error codes according to API version, which is just rough and hard to maintain.

[2016-07-21 23:16] sharwell commented on #25
@cleemullins There are multiple ways to support new error codes (and more specifically, the need to add new error codes in the future) without needing to make breaking changes. Two possibilities include:

1. Make sure the HTTP status code (number), and optionally a reference error code if the response body includes one, does not change over time for a given input. Provide an additional field in th

[2016-07-21 23:57] cleemullins commented on #25
What you describe is pretty much exactly what the docs call out doing. :)

With that said, over time, it dos accumulate. It's is baggage and legacy and slows down development, makes testing harder, complicates documentation, and so on.

There isn't an ideal answer that I've seen yet.

[2016-07-22 08:03] RehanSaeed opened #38 "Example Reference Implementations"
I'm interested in seeing a working example or reference implementation following these guidelines. A code sample tells a 1000 words. As these guidelines are supposed to be generic perhaps a code sample could be written in a few different popular languages.

Personally, I'm interested in seeing a working sample written in ASP.NET Core. There is no OData support in ASP.NET Core, so I'm particularly

[2016-07-22 08:16] dodekeract commented on #38
While this sounds like a good idea, I think it's outside of the scope of this project.

[2016-07-22 17:49] cleemullins commented on #38
This would be great.

Unfortunately, I haven't found any volunteers yet.

[2016-07-22 17:56] cleemullins commented on #28
@damienbod The right answer is "Follow the HTTP spec(s)".

I'm on board with words that say, "Follow the HTTP spec for return codes. The authoritative resource for this is found at {location}" I just don't want to be cut/pasting the various RFCs unless there is a good reason, as it's just creating maintenance work.

Historically the question that has come up is "Can I use status code X for Method

[2016-07-22 17:58] cleemullins commented on #13
That's an interesting idea. I'll float it around and see what folks think.

[2016-07-22 18:28] dret commented on #13
On 2016-07-22 10:58, Chris Mullins wrote:

great, thanks! generally speaking, i am a big fan of identifying and
recommending "web concepts", and then making sure that they get used and
represented in a way that makes it easy for people to recognize them,
because they are using existing and established standards.

http://webconcepts.info/concepts/link-relation/canonical is one such
"web concept", a

[2016-07-22 18:52] brphelps commented on #28
@cleemullins : Aren't there other cases in the REST API guidelines where we're effectively restating the HTTP spec in an effort to promote best practices? From my perspective, if people are frequently asking a question in the Internet somewhere (e.g. 'Should I use 403 or 404 when a user doesn't have access to content') , we would want to have a good answer defined for it in our best practices.

I

[2016-07-22 19:05] darrelmiller commented on #28
@brphelps

From https://tools.ietf.org/html/rfc7231#section-6.5.3

I realize that I'm only addressing your one example here, but I think many people would be surprised how many "best practices" are described in the spec.  I'm not saying there are not any places where guidance would be valuable.  However, I'd prefer to see the guidelines include best practices for specific edge cases, rather than a

[2016-07-22 22:38] johngossman commented on #28
@brphelps I'm reluctant to put in the HTTP status codes as mere reference material. We put in the idempotency expectations for HTTP Methods not as reference but because we saw so many cases of folks building APIs that (for example) only use GET even for operations that were not idempotent.

[2016-07-22 22:40] brphelps commented on #28
@johngossman That seems like a totally good reason to include part of the HTTP spec in document -- common antipatterns we want to make sure we avoid. Thanks for taking the time to justify.

[2016-07-22 23:08] lumaxis opened #47 "Hyphens or underscores in URLs?"
Currently there is no guidance in the guidelines whether hyphens or underscore are preferred to connect words within a URL component.
Is that because you are undecided or do you explicitly not want to make a recommendation?

[2016-07-23 00:36] cleemullins commented on #47
This is a case of us trying not to break into Jail. :)

[2016-07-23 00:37] cleemullins commented on #21
Got a PR you're willing to put togother? :)

[2016-07-23 19:53] johngossman commented on #47
We just remain silent on things unless there is a strong consensus or a strong need for consistency

[2016-07-23 20:09] johngossman commented on #25
@sharwell You guidance is pretty much what we tell our teams: never break anything if possible. Old versions of the API still work until there is no more traffic on them. Being explicit about the version number allows for cases when things really do semantically change too far to any longer be supported for us to run the APIs side-by-side without creating an entirely new endpoint.

For a little de

[2016-07-23 20:45] #47 closed

[2016-07-23 20:46] #28 closed

[2016-07-23 20:56] cleemullins commented on #14
@imajes We made a deliberate choice not to escape the URL's in the examples as it made such an impact on readability. Are you up for writing a section describing the need to escape the URLs?

The use of $ and spaces, such as the "$filter=foo gt 99" has it's origin in OData, which is a fairly well known and standard family of patterns for building APIs over HTTP. We could certainly debate the point

[2016-07-23 20:59] cleemullins commented on #14
@dret Can you explain what you mean by this:

I think I'm missing something obvious, and would like to learn more.

I know Unicode well (although it's not clear if anybody *actually* understands the total complexity of Unicode) , and know IRI's and URI's fairly well, but an clearly missing something. I'm guessing you're not going to recommend punycoding our URI's... :)

[2016-07-23 21:01] cleemullins commented on #23
The PR from @darrelmiller that's been merged resolves this.

[2016-07-23 21:01] #23 closed

[2016-07-23 21:04] cleemullins commented on #7
The PR for this has been merged.

[2016-07-23 21:04] #7 closed

[2016-07-23 21:04] cleemullins commented on #6
The PR for this has been merged. Thanks @darrelmiller !

[2016-07-23 21:04] #6 closed

[2016-07-23 21:08] cleemullins commented on #15
This is certainly something I think we'll consider in the future.

[2016-07-23 21:08] #15 closed

[2016-07-24 10:46] kkamkou opened #50 "Rethink some concepts having the existing jsonapi"
I liked this repository just with one reason, somebody decided to create more or less readable guideline, which I can recommend to others(besides the using it myself). In the same time, we have http://jsonapi.org/, which is working and stable specification. And very reliable.

Here, I would like to suggest you to review it and merge if possible. Otherwise, most of guidelines are covered by "Restfu

[2016-07-24 15:09] dodekeract opened #51 "Partial URLs in 201 Created Location header?"
In [7.4.1](https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#741-post) you encourage the use of the `Location` header. Is there any policy/rule regarding using a full URL versus only the URL path?

[2016-07-24 21:40] johngossman commented on #51
Generally we always want to use the full URL so the client doesn't have to track state.

[2016-07-24 22:18] dodekeract commented on #51
@johngossman I'm quite sure that the client needs to know which server he's trying to connect to, which would also be enough state to turn this back into the full URL. Depending on the framework used, it may even be easier to request a path on a server, instead of changing both everytime.

[2016-07-25 04:18] garethj-msft commented on #50
Thanks for the feedback kkamkou.  The guidelines represent Microsoft's actual practices in building our APIs at present, and right now, we're not using jsonapi.  It is an  interesting general purpose format that we might take more of a look at in future, but for now we would not want to merge it into our guidelines.

[2016-07-25 04:18] #50 closed

[2016-07-25 09:03] edent opened #52 "13.2.7.1 Long Running Operations."
In [13.2.7.1](https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#132-stepwise-long-running-operations), the user is told to POST to one URl and then poll another URl to see whether the operation has completed.

The initial URl uses [202](https://tools.ietf.org/html/rfc7231#section-6.3.3) to indicate that the request has been received. The subsequent URl responds with

[code]

I

[2016-07-25 17:49] garethj-msft commented on #38
Agreed this would be good, but it feels like it would belong in a different repo referencing this one.

[2016-07-25 17:49] #38 closed

[2016-07-25 17:52] garethj-msft commented on #51
As John says, we're tending to standardize on absolute URLs, with the expectation that they require zero client manipulation.  It is interesting feedback that you feel the path only may be easier with some frameworks.

[2016-07-26 00:48] dret commented on #14
On 2016-07-23 13:59, Chris Mullins wrote:

you're saying you intentionally did not encode the URIs in examples. i
think that's risky as people may use those literally, and it would be
good to make it as clear as possible that those need to be encoded
before being used in protocols.

if people start thinking about query-like things in URIs and there's
non-ASCII characters in there ("find all cities

[2016-07-26 06:47] garethj-msft commented on #52
My understanding is that 102 is a code that should be sent as an interim for a single response, whereas the polling response has completed successfully, so 200 is more correct.  Our position in general is that the HTTP status code refers to the specific HTTP call rather than the overarching operation.

[2016-07-26 07:27] garethj-msft commented on #10
I really like this proposal.  I'm circulating it internally to see what reaction we have to changing to this as our preferred guidance.

[2016-07-26 12:55] darrelmiller commented on #52
@edent The 200 response refers to the client making a GET request on a status resource.  That [status/progress resource](https://gooroo.io/GoorooTHINK/Article/16673/Http-Patterns-Progress/21560#.V5ddeYVFzmQ) is retrieved successfully and so the 200 is appropriate.  How the progress resource reports the state of the operation is not defined by HTTP, but in the pattern doc I linked to I make some su

[2016-07-26 21:58] #25 closed

[2016-08-01 05:04] garethj-msft commented on #52
I think we're comfortable with the current use of the codes here, so 'm going to close this one.

[2016-08-01 05:04] #52 closed

[2016-08-02 06:47] kuitos opened #54 "The definition of JSON has changed refer to RFC7159"
The definition of JSON has changed.
see [RFC7159](https://tools.ietf.org/html/rfc7159)

any ideas to adapt to this?

[2016-08-02 17:40] cleemullins commented on #54
I'm not sure what you're asking. I'll re-read the RFC as it looks interesting.

[2016-08-03 02:24] darrelmiller commented on #54
@cleemullins RFC7159 acknowledged the change that was made in ECMA's definition of JSON that a JSON value on it's own can be at the root of a JSON document.  Earlier versions of IETF specs used to say only arrays or objects could be at the root.

Be warned also, the IETF spec is about to be updated again... https://tools.ietf.org/html/draft-ietf-jsonbis-rfc7159bis-02  I believe that this is just a

[2016-08-03 06:23] garethj-msft commented on #54
I think that one thing we should probably clarify (somewhere better than this comment) is that we really are not looking in this core repo to adapt the guidelines to the on a fast moving basis other than to make additive change for things that are missing or correct things that are erroneous.  For this to serve as Microsoft's guidelines for API consistency, we need some stability to form a baselin

[2016-08-03 06:51] kuitos commented on #54
@garethj-msft Thanks for your explanation and I agree with your opinion.
I think you can also explain this in the guideline to avoid anybody else confused.

[2016-08-03 16:08] #54 closed

[2016-08-03 20:55] mj1856 opened #57 "Date Headers"
Two issues:

1. `Date` is listed as both a standard request and response header (7.5/7.6), but this is typically found only as a response header.  The HTTP spec ([RFC 7231 § 7.1.1.2](https://tools.ietf.org/html/rfc7231#section-7.1.1.2)) states:

2. In both places, the description says that the `Date` header is in RFC 3339 format, which is incorrect.  Unfortunately, the HTTP spec doesn't use RFC 33

[2016-08-03 21:34] mj1856 opened #58 "Versioning via headers?"
[Section 12.1 - Versioning Formats](https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#121-versioning-formats) only discusses passing a version on the URL, either in the path or in the querystring.

It is also very common to pass an API version via HTTP headers instead, either via custom headers, or as part of `Accept` and `Content-Type` headers (aka, Media Type Versioning).  Th

[2016-08-04 00:27] cleemullins commented on #58
We had them in for a while, and ended up removing them. After talking with a number of internal teams, we consider the API-In-A-Header to have caused many problems, and actively discourage it's use.

I could be persuaded to put that back in, but in general we kept the guidance "Do this", rather than "Don't do that".

[2016-08-04 00:29] cleemullins commented on #57
I would love a PR for this. Thanks.

[2016-08-06 14:45] darrelmiller commented on #58
There is a big difference between versioning in a custom header and versioning the payload using a versioned media type identifier.  Versioning resource interactions using a custom header is full of disadvantages and I would personally never recommend that.

However, attaching a version number to a media type identifier is not a whole lot different to putting a version number in the payload itself

[2016-08-06 14:53] darrelmiller commented on #57
re: issue 1.  I like the idea of recommending that a Date be sent in request header.  Adding a piece of client side middleware to add the header is fairly trivial and non-intrusive to application code.  Having the time the request header is sent is a useful piece of diagnostic information when performance troubleshooting.

[2016-08-06 15:26] darrelmiller commented on #51
@johngossman @garethj-msft Arguably the client doesn't need to track any state to resolve a relative reference in a Location header [RFC 7231 7.1.2](https://tools.ietf.org/html/rfc7231#section-7.1.2) as a relative reference in a Location header is supposed to be relative to the request URL.  In most client situations the request URL is available when processing the response.

It is some work on th

[2016-08-12 18:18] #21 closed

[2016-08-17 19:13] daspek opened #60 "docs should be one-sentence-per-line"
The docs should be reformatted to be one sentence per line.
This makes PRs easier to review.
It also makes edits easier by removing the burden of reflowing existing text.

[2016-08-17 19:39] RobDolinMS commented on #60
Good suggestion @daspek.  Would you mind drafting a PR?

[2016-08-18 15:49] esatterwhite commented on #14
I've always been of the thought to construct query strings in a way to made it as easy on both the client and server as possible. In the context of the points above, Using a well known, url safe separator, like `__`. and repeating keys over comma separated values

`?$filter=name eq 'david'&$orderBy=hireDate desc`

would become

`?name__eq=david&orderBy=-hireDate`

assuming the filter type/name is

[2016-08-18 18:49] RobDolinMS commented on #60
Closing this issue as @daspek has submitted PR #61

[2016-08-18 18:49] #60 closed

[2016-08-23 18:47] cecilphillip commented on #58
If you don't mind, what are some of these issues exactly? Maybe having a "don't use headers for versioning" section might be helpful

[2016-08-24 00:39] garethj-msft commented on #58
As Chris says, we generally try to minimize the negative guidance as opposed to the positive in this document.   Header-based versioning (outwith media type versioning) is problematic for a few reasons - it's harder for consumers to store what version they called, proxies and forwarders can easily lose the custom headers.  But be aware that this is all a contentious issue and other opinions are ve

[2016-08-24 09:06] garethj-msft opened #62 "Naming guidelines are needed"
The document is missing detailed guidelines on how to name resources, types in metadata documents, headers etc.

[2016-08-24 11:57] dodekeract commented on #62
Are you referring to specific names like "always call X Y" or rules of thumb, like "as short, but precise as possible"?

[2016-08-24 18:38] mj1856 commented on #57
@darrelmiller It doesn't really help with diagnosing performance, because the request timestamp is generated client-side, based on the client's clock.  Even if clocks are regularly updated from NTP sources, there's still an expected deviation due to clock strata, drift, latency, etc.  And of course, there's no guarantee the clocks are synchronized at all, which could mean large differences, or eve

[2016-08-25 01:01] garethj-msft commented on #62
PR #63 is what we believe is needed for our teams.  That has both your categories in a fairly prescriptive stance.

[2016-08-25 23:34] #57 closed

[2016-09-09 12:10] maerlin opened #66 "Feedback on PATCH"
Unfortunately i did not see any [guidlines](https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#742-patch), how one should remove any fielddata from an object using PATCH or PUT.

Should Patch only support additive, atomic modifications?

I did some research and found JSON MERGE PATCH
[JSON Merge Patch RFC ](https://tools.ietf.org/html/rfc7396)

   Host: example.org
   Content-Ty

[2016-09-09 12:46] darrelmiller commented on #66
The PATCH method itself doesn't not define the details of how to actually achieve the PATCH.  That is by design.  The media types you have found are the two JSON based patch documents that provide these details.  Both are valid approaches.  Each have their strengths and weaknesses.  The second option is definitely the better option for removing things.

[2016-09-09 12:58] maerlin commented on #66
Thank you for your answer! I thought it would be useful to mention this in the guidline, as there is only written about 'update' and 'add' (UPSERT).

Is there any special reason, why the second one is better for removing things?

[2016-09-09 13:08] darrelmiller commented on #66
JSON-Patch has an explicit remove operation that can act on any part of the document using a JSON-Pointer.  JSON-Merge-Patch requires you to recreate the structure of the target document and use a null value to indicate removal of properties. What happens if null is a valid value for a property?

Removing elements in an array requires sending a copy of the array with the target element removed.  T

[2016-09-14 18:49] scriby opened #67 "URL path camelCase vs underscore vs dash etc."
It would be great if the standards document expressed a clear opinion on how multiple words should be concatenated in URL path segments.

For example:

https://api.contoso.com/v1.0/pullRequests
https://api.contoso.com/v1.0/pull-requests
https://api.contoso.com/v1.0/pull_requests
https://api.contoso.com/v1.0/pullrequests

[2016-09-14 18:51] scriby opened #68 "Response format of single entity"
When returning a collection, the format looks like `{ value: [ ... ], ... }`. When returning a single entity, it's not made clear whether it should also be returned as `{ value: { ... } }` or just `{ ... }`.

Some of the examples hint at returning `{ ... }` directly, but it's not explicitly stated.

[2016-09-14 21:46] RobDolinMS commented on #67
I don't think we currently have guidance for multiple words in URL path segments but I believe we have one tangentially related statement around multiple words JSON property names in [7.10 Response Formats](https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#710-response-formats):

[2016-09-16 08:37] maerlin opened #69 "Response code 409 instead of 404 when PATCHing against nonexisting resource?"
The guidline mentions this:

In the refered [RFC 5789](https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#742-patch) there is this:

      code when the client attempted to apply a patch document to a non-
      existent resource, but the patch document chosen cannot be applied
      to a non-existent resource.

I think this should be clarified, and the following should be added

[2016-09-16 09:05] #66 closed

[2016-09-16 20:54] dodekeract commented on #67
[This part](https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#121-versioning-formats) uses dashes. In addition to that, we could also take the repository name `api-guidelines` as a hint to use dashes. :smile:

[2016-09-16 21:09] garethj-msft commented on #67
LOL on the repo name.  Yes, your example is pretty unfortunate.  We certainly don't recommend that, but that one probably has to be grandfathered in for historical reasons.    I should add that exception to the naming guidelines proposal in the topic branch of this repo.   I believe we would recommend camelCased for explanatory purposes, but that services should be case-insensitive for any terms w

[2016-09-16 21:55] garethj-msft commented on #68
The expectation is definitely that it is just {}, with no value.    We've not found that the kind of annotations that the value envelope allows have proven useful for single entities.  (nextlink or count are the primary examples).

Be very happy to get a PR making it more explicit.

[2016-09-17 01:03] dodekeract commented on #67
Note that this will break some particular word combinations. `pullRequests` will be handled the same as `pulLrequests`. (which doesn't makes sense in this example, but CAN make sense in other examples)

[2016-09-17 03:42] garethj-msft commented on #67
Our point is that we would never want anyone to ship an API from Microsoft that had those two combinations (or two combinations that did make sense) at the same place in URL space where they could possibly conflict because the potential for user error would be simply too high.  We're trying to optimize for ease of use for the service consumer, over flexibility for the service builder.

[2016-09-20 19:16] scriby opened #70 "Clarification on $top / $skip"
I wanted to ask about the meaning of this note:

[code]

Does this mean if a client asks for the top 5 items and there's only 4, that the API should error instead of returning the 4 items?

As a caller who doesn't know the number of items in a collection, I may want to receive at most 20 items, but I don't want the call to completely fail if there weren't 20 items available.

Producing an error wh

[2016-09-20 19:43] RobDolinMS commented on #70
I believe returning 4 items if there are only four available is appropriate.

I suspect the intent is that if the server does not support the `$top` and/or `$skip` querystring parameters, it should not just ignore these.

CC @garethj-msft for his two cents

[2016-09-20 19:50] RobDolinMS commented on #69
Thanks for submitting @maerlin.  Tagging @garethj-msft and @darrelmiller for opinions

[2016-09-27 15:03] darrelmiller commented on #69
I'm not sure why the decision was made to use 409 to indicate that no resource exists and the server can't create it.  I would have expected a 404, personally.  Maybe @cleemullins knows.  I know sometimes people don't like using 404 because they are concerned that it will mislead a developer into thinking some other part of the URL contains an error, rather than it being an unsupported operation.

[2016-09-27 15:39] darrelmiller opened #71 "When creating a resource that returns an empty body, should 201 or 204 win?"
It feels like to me that a 201 should win as a client can always look at the content-length to know there is no body.

However, in the section on managing webhook subscriptions, the guidelines say:

If we apply this rigidly, it means that if the subscription API supported "upserts" then we wouldn't be able to return a 201 to indicate creation.

[2016-09-27 17:39] maerlin commented on #69
@darrelmiller Thank you for your thoughts !I would like to make a few further remarks.

**Part 1**

If you patch a ressource, that does not exist, like this:
`PATCH /api/notes/{guid}`

Then it would be a **part of the url containing an error**, because the object with this guid **does not exist**.

**Part 2**

But if you patch a path or property that does not exist, like in this example /notetitle

[2016-09-27 19:44] darrelmiller commented on #69
@maerlin I think both cases are debatable and regardless of which side of the debate that you are on, I don't think there are any significant negative side effects.

I would prefer to see a 404 in the first case and a 409 in the second, but mostly likely we would need a payload to describe exactly where the conflict arose anyway, and it is easy to explain to the consumer what the problem in that d

[2016-09-27 20:10] garethj-msft commented on #71
I don't think we successfully reconciled the upsert guidance with the webhooks guidance here, and we usefully should.  In practice the Microsoft Graph doesn't support upsert on webhooks, so we didn't run into the conflict.

[2016-09-27 20:12] garethj-msft commented on #70
Agreed - th e intent was to return an error if the server does not support top or skip, not in the case of too little data.

[2016-09-27 20:19] darrelmiller commented on #71
I get the feeling that there are a number of constraints on the webhooks guidance that are in additional to the regular API guidance and wonder if are essential.  I'm going to read more and maybe create a separate issue addressing that.

Independent to that though, is it worth stating that in general a 201 should supersede 204 on a create.

[2016-10-04 23:58] scriby commented on #70
Thanks, that makes sense.

[2016-10-04 23:58] #70 closed

[2016-11-18 14:41] whozDougie commented on #52
Hi there,

I started following the guidelines on 200 with a Retry-After, however, I quickly found that other frameworks such as jQuery does not support 200 with a Retry-After. An Article from Mozilla indicates that Retry-After is used with "413 Payload Too Large" and "503 Service Unavailable".
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status

Also another article states the header can be u

[2016-11-23 00:17] whozDougie opened #76 "[Question] Long running operations on 200 with a Retry-After VS other standards from w3.org"
Hi there,

I started following the guidelines for Long running operations on 200 with a Retry-After, however, I quickly found that other frameworks such as jQuery does not support 200 with a Retry-After.

An Article from Mozilla indicates that Retry-After is used with "413 Payload Too Large" and "503 Service Unavailable".
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status

Also another artic

[2016-11-23 00:37] darrelmiller commented on #76
@whozDougie I would recommend using [RFC 7231](https://tools.ietf.org/html/rfc7231#section-6.1) as the definitive source of information about status codes.  Technically, someone could return a retry-after header with any status code.  The specifications simply suggest common cases where it is used.  You are correct that it is not common to return a retry-after with a 200 status code, but it is als

[2016-11-23 00:41] darrelmiller commented on #71
Based on conversations with a number of people, it seems logical to favour 201 over 204 in the case where something has been created and it has no body.  A client can always use content-length 0 to detect an empty body.

[2016-11-23 00:59] whozDougie commented on #76
Thanks Darrel, that's made it clearer.

[2016-11-29 02:47] garethj-msft commented on #62
Added to vNext branch

[2016-11-29 02:47] #62 closed

[2016-12-14 15:54] CoolDadTx opened #77 "Unsupported section is contradictory to HTTP status code 501"
The section on Unsupported says to return an error response and a 4xx result unless there is a more specific code. But that is what HTTP 501 is designed for in my opinion. If something is not supported then 501 is the correct response to let the client know they are trying to call something that is not implemented (but perhaps could be in the future).

[2017-01-04 00:42] RobDolinMS commented on #77
Thanks for posting this issue @CoolDadTx

For others who are likely wondering about HTTP 501, here's the reference in the HTTP 1.1 spec: http://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.2

[2017-01-04 02:01] darrelmiller commented on #77
@CoolDadTx  I agree that it is confusing.  However, the 501 status code has the additional requirement that the functionality is not supported for any resource on the server.  Although that may be the case for some API scenarios, there are other cases where certain functionality is not supported on a particular set of resources.

Requiring applications to sometimes return a 4XX code when there is 

[2017-01-23 18:15] dmolesUC3 opened #78 "Feature request: clearer (semantic?) versioning; version tags"
Given [section 4.2, "Guidelines for existing services and versioning of services"](https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#42-guidelines-for-existing-services-and-versioning-of-services)

I expected to find a tag that would allow me to link to the (presumably stable) 2.2 version, but it looks like `Guidelines.md` was created at version 2.3 and that version 2.3 is stil

[2017-01-27 09:19] trshiv opened #79 "Question regarding $top"
I have a question on the $top URL parameter, which first appears in Section 9.8.2 - Client-driven paging. How is this parameter defined and what is its relation with the $maxpagesize parameter (appearing in Section 9.8.3 - Additional Considerations).

[2017-01-30 19:59] RobDolinMS commented on #79
Tagging @markdstafford who might want to comment on this.

[2017-01-30 20:02] RobDolinMS commented on #78
Thanks @dmolesUC3.  This is helpful feedback.

Are there other specs on GitHub that you think do this week?

I've seen the Open Container Initiative (OCI) do "Releases" and I've seen the OpenAPI Initiative (OAI) keep legacy versions of their spec in their active repo.

As a potential customer for this, I'm curious if you (or others) have preferences.

[2017-01-30 20:37] dmolesUC3 commented on #78
Personally I like the OCI approach as it mirrors the way most GitHub open-source projects seem to work. The OpenAPI approach isn't terrible, but as someone with a web archiving background I worry about stable URLs. Right now you can link to `blob/master/versions/2.0.md`, but if they reorganize their directory structure to, say, `blob/master/versions/2.x/2.0.md`, that link would break, whereas the

[2017-01-30 21:05] mikepizzo commented on #79
This is actually a really great question.

$top is a client directive that says that the client is only interested in the first n records. The service returns up to that number of records, and then the response is complete -- there is no nextLink, etc.

Separately, a service can decide the maximum number of records to return in a single response.  So if the request represents 1000 records the serv

[2017-01-31 04:09] trshiv commented on #79
Mike,

Thanks for your response. It would be great to see this explanation included in the specification, especially the part about indicating the $maxpagesize via the Prefer header.

I have a follow-up question. How does $skip work with $top and $maxpagesize? My understanding of $skip is that the server skips the specified number of pages and then serves the top N entries. However, if the server

[2017-02-09 19:01] RobDolinMS commented on #79
@trshiv I believe $skip is to skip the top N entries (not the top N pages.)

Expanding on @mikepizzo's example, if the client had the first 10,000 entries and then decided they wanted another 10,000, the client might ask for $top=10000 and $skip=100000.

Again, $maxpagesize would be optional for the client to express their preferred maximum number of entries per response.

/cc @markdstafford and @

[2017-02-10 10:26] trshiv commented on #79
@RobDolinMS I think your explanation clarifies my understanding. I checked the guidelines again and found this:

It doesn't say "page offset". The meaning should therefore be a result offset.

[2017-02-20 09:23] EralpB commented on #58
I would support Media Type Versioning, it should be the future, especially for those in-company APIs, but if you are aiming the public developer audience.. it might be a good idea to use URL versioning since it is easier.
One thing is for sure, just forget about custom header fields :)

[2017-03-15 19:20] a-k-g opened #80 "Question about section 9.3.1 nested collections and properties"
This is the example in the current guidelines:
[code]

[code]

Now let's say I need to have an API which returns a collection of <person, addresses> for all the people.

Assuming that I have only 2 people "100" and "101", the sample response would be:
[code]

What should the url for this be?

[2017-03-15 21:26] sebadiaz commented on #80
I suggest

GET https://api.contoso.com/v1.0/people/addresses

or

GET https://api.contoso.com/v1.0/people/@all/addresses

[2017-03-28 16:14] codepunkt commented on #68
How should the request be formatted when a collection is returned not returned as an array, but as a JSON object - e.g.:

[code]

vs.

[code]

[2017-06-02 14:47] dmytro-y-dev opened #87 "Question about 8.2 : What is "dynamic canary""
It is mentioned security technique called "dynamic canary" (in section https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#82-service-guidance). I can't find information about it. May someone provide a link with information or explain what is it?

[2017-06-02 21:44] gareth-a-jones commented on #80
In general, we'd try to avoid a separate API, but rather use a $expand parameter on the simple `people `endpoint instead.

So the URL would be
`GET https://api.contoso.com/v1.0/people?$expand=addresses&$select=id`
which would return a response something like this
[code]

In general, we'd only use the `value `property name as the top level collection container, not below, as there is always a seman

[2017-06-02 21:46] gareth-a-jones commented on #78
+1 - this is great feedback.

[2017-06-23 17:56] jmealo commented on #87
@metamaker: https://msdn.microsoft.com/en-us/library/office/gg552614(v=office.14).aspx

[2017-06-23 17:59] jmealo commented on #10
Any updates on this? (For what it's worth, I agree with the proposal.)

[2017-06-23 18:01] jmealo commented on #79
@trshiv: Can this issue be closed?

[2017-06-23 18:01] darrelmiller commented on #10
I guess I should write a PR.  /cc Thoughts? @garethj-msft @RobDolinMS @markdstafford

[2017-06-23 18:13] jmealo commented on #14
@esatterwhite: [PostgREST](https://postgrest.com/en/v4.1/api.html
) features a mostly functionally equivalent API that doesn't use spaces (for comparisons sake).

[2017-06-23 18:18] jmealo opened #88 "Reference Implementations?"
Are there any reference implementations for this API?

[2017-06-23 18:20] jmealo opened #89 "Question: Validation tool / Compliance tests"
Are their any validation tools or compliance test suites available to verify that an API follows these guidelines?

[2017-06-23 18:21] jmealo opened #90 "Suggestion: Machine readable version"
Are there any plans to provide a machine readable version of these guidelines so that it's possible to auto generate compliance tests (or possibly documentation/client code)?

[2017-06-23 20:02] gareth-a-jones commented on #90
No plans.  Are you aware of a machine readable format suitable for capturing this type of guidance?

[2017-06-23 20:27] dmytro-y-dev commented on #87
@jmealo thanks for link. How it differs from X-XSRF-TOKEN?

[2017-06-23 20:34] jmealo commented on #87
@metamaker: I'm not sure, just some in-house terminology. I suppose they used to have a non-dynamic canary? This is a more comprehensive list of security guidelines: https://www.owasp.org/index.php/REST_Security_Cheat_Sheet

[2017-06-24 00:31] esatterwhite commented on #14
Ah interesting. I have a couple issues with that. Periods have meaning in most written and programming languages. Which can lead to confusion or security holes. Also, the periods are in the value. This means you have to parse values to infer meaning. `foo=eq.10.50` and `foo=not.eq.10.50`. Parsing that, even visually is a little complicated. Is that just an invalid query? Does `50` get ignored? Sho

[2017-08-02 07:48] oneturkmen opened #91 "Question about 8.2: Why query parameters, not Authorization header?"
It is written that:

*For GET and HEAD calls, avoid requiring request headers that **are not part of the simple set above**. Allow them to be provided as query parameters instead. **The Authorization header is not part of the simple set, so the authentication token MUST be sent through the "access_token" query parameter instead, for resources requiring authentication.***

As I understood, I MUST u

[2017-08-10 06:20] gareth-a-jones commented on #91
Thanks for the spot.  I think this is just a simple omission - care to submit a PR?

[2017-08-10 06:21] gareth-a-jones commented on #90
Don't think we're seeing anyone come forward with a proposal here, so closing.

[2017-08-10 06:21] #90 closed, assigned to nobody

[2017-08-10 06:23] gareth-a-jones commented on #79
@trshiv, if you feel the text could be clarified to incorporate the answers you've received here, please do submit a PR.

[2017-08-10 06:27] gareth-a-jones commented on #77
I think this is fairly definitive from @darrelmiller

[2017-08-10 06:27] #77 closed

[2017-08-10 06:28] #80 closed

[2017-08-10 06:30] gareth-a-jones commented on #68
I would day that isn' a collection, but rather a dictionary, so you can add the metadata to the top-level object adequately, thus not needing the value term.

[2017-08-10 06:30] #68 closed

[2017-08-10 06:31] #58 closed

[2017-08-10 06:31] gareth-a-jones commented on #58
I think our position here is fairly clear.

[2017-08-10 06:34] gareth-a-jones commented on #88
We don't have a canonical one that claims to be perfectly adherent no - these are practical, living guidelines for our internal teams, first and foremost, so APIs on the [Microsoft Graph](https://graph.microsoft.com), especially newer additions, are good examples of APIs striving to meet this bar.

[2017-08-10 06:34] #88 closed, assigned to nobody

[2017-08-10 06:36] gareth-a-jones commented on #67
@scriby, a PR would be great to address this with a camelCase, but case insensitive recommendation at the appropriate spot.

[2017-08-10 07:45] oneturkmen commented on #91
@garethj-msft Sure, I can do PR. However, can you please elaborate more on the issue?

[2017-08-10 10:54] trshiv commented on #79
Raised a PR as issue #92

[2017-08-10 10:54] #79 closed

[2017-08-16 13:03] codepunkt commented on #68
When you would normally deal with a collection, you often deal with a dictionary instead. It's used as a collection and iterated over and has the form of a dictionary only for the purpose of faster id lookups.

When you put metadata next to the ids, iteration will be hard if not impossible because you have to exclude all metadata-keys or duck-type on the values.

[2017-08-16 23:31] gareth-a-jones commented on #68
OK, sounds like you just answered your own question ;-)

[2017-08-16 23:32] gareth-a-jones commented on #91
I was just suggesting to add Authorization header to the simple standard set.

[2017-08-23 10:26] #87 closed, assigned to nobody

[2017-08-30 18:11] ghost opened #95 "Grouping this repository"
This repository should be in a ASP.NET repository group.

[2017-08-30 18:14] darrelmiller commented on #95
Thanks for your suggestion.  However, these guidelines are applicable to HTTP APIs built using many different technology stacks and therefore are not limited to ASP.NET

[2017-08-30 18:22] RobDolinMS commented on #95
I agree with @darrelmiller.  These are not just limited to use in ASP.NET.

[2017-08-30 18:22] #95 closed, assigned to nobody

[2017-08-30 18:46] RobDolinMS commented on #91
Closing this issue since we now have a proposed PR in #93

[2017-08-30 18:46] #91 closed, assigned to nobody

[2017-08-30 19:27] ghost commented on #95
I agree, however I meant as a sub repository under ASP.NET with tags to other areas as well...

[2017-08-30 19:55] gareth-a-jones commented on #95
I'd go so far as to say not even all that closely coupled to ASP.Net.  I agree with Rob and Darrel.  Rooting this under a specific technology, even linked to other technologies would send the wrong message that a specific technology is more important than any other in building web APIs.

[2017-09-18 13:22] yuvipatel opened #96 "Questions: Are there any existing query string parser for suggested filter operations in section 9.7.1 ?"

[2017-09-25 09:35] janv8000 opened #97 "Difference between branches master and vNext"
The default branch on GitHub is currently set to vNext if I'm not mistaken.

Is there a difference between master and vNext? Is master obsolete, vNext a work-in-progress and still to be validated, ...?

[2017-11-13 08:33] erik-am opened #99 "@nextLink vs. nextLink"
Hi,

The guidelines describe that collections should have a `@nextLink` attribute.

However, in practice some Microsoft services use `nextLink` (without `@`).
See https://azure.github.io/projects/apis/#!/DeploymentOperations/DeploymentOperations_List for example.

What is preferred? I can expect the `@` can make it harder to work with the model in JavaScript or when (de)serializing in .NET.

[2017-11-30 08:28] trshiv commented on #96
This part is where I had some trouble in convincing my team to adopt the API guidelines. By far the most typical use-case is to translate the filter expression into a SQL WHERE clause.

[2017-12-01 09:48] greenmooseSE opened #100 "camelCase vs PascalCase for string enumerations"
In documentation at https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#710-response-formats we can see
...
Property | Type | Required | Description
-- | -- | -- | --
code | String (enumerated) | ✔ | One of a server-defined set of error codes.
...
[code]
Here property `code` is PascalCase'd as "BadArgument". and property `characterTypes` as camelCase'd.

This seems a bit confusin

[2017-12-01 10:29] freeranger commented on #10
@garethj-msft What was the internal reaction to this proposal?

[2017-12-01 23:12] gareth-a-jones commented on #100
Enumerations are lowerCamelCase.

Yeah, this is unfortunate.  It should NOT say "string(enumerated)" .  It is ether an enumerated type or a string.  There is no such thing as an enumerated string.   Code is a string, which come from aggregations of errors codes across all levels of errors, some of which might look like enumerated value sets and some not.   characterTypes was just some example data

[2018-01-06 01:57] yuvipatel commented on #96
@trshiv and @victorhugom I have added npm module [filter2dbquery](https://www.npmjs.com/package/filter2dbquery) to translate the filter expression into a MongoDb query.

[2018-02-06 22:51] rachyliu opened #102 "Question: Proper responds status code from API"
Hello,

Our team is debating what status code should the API return when the UI sends a request and the API finds no match (empty response). For example:

An existing user do not have anything in his/her shopping cart. The user id is 1234 and UI makes a call to the API (.../api/getcartitem/1234) to get the cart items for this user. Since the user do not have anything in the shopping cart, what sta

[2018-02-06 23:08] darrelmiller commented on #102
I wouldn't recommend using 404 to indicate an empty shopping cart.  If there is an explicit process to create a cart and delete a cart then a 404 would indicate the need to create a cart.  A client that requests to see the contents of the cart when the cart is empty, is not a "client error".  At least that is quite a stretch.

Assuming that carts are implicitly created when you add items to them,

[2018-02-09 05:42] zaverden commented on #102
See here: https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#51-errors

4xx indicates that client has sent an invalid request (wrong path, bad format, unsupported method, etc.). And if I get you description right, then empty card is not a problem, it is a valid state of application => 404 does not suet here.

200 vs 204 is like empty array vs null. Decision here depends on you st

[2018-02-09 09:12] vmarkovtsev opened #103 "Specify the license"
How are these guidelines licensed? Proprietary or Creative Commons or ...?

[2018-02-09 19:47] darrelmiller commented on #103
Creative Commons https://github.com/Microsoft/api-guidelines/blob/master/Guidelines.md#44-license

[2018-02-09 19:59] vmarkovtsev commented on #103
Thanks :+1:

[2018-02-09 19:59] #103 closed, assigned to nobody

[2018-02-12 23:52] #102 closed, assigned to nobody

[2018-02-19 21:11] elafnitzegger opened #104 "diagram for firehose webhook subscription call sequence missing"
Invalid image reference in section 14.4 to resource "firehose subscription setup"

[2018-02-19 22:29] elafnitzegger commented on #104
Never mind. I finally arrived at the Appendix.

[2018-02-19 22:29] #104 closed, assigned to nobody

[2018-02-22 09:53] ckuijjer opened #105 "Put the Guidelines.md into the Readme.md"
It's a minor issue, but when I search the web for _microsoft rest api guidelines_ I end up in the github repository and I'll have to manually click on the `Guidelines.md` to start reading. I think it's a nice idea to simply put the content of the guidelines into the `README.md`.

[2018-03-01 11:08] mgefimov commented on #105
+1

[2018-03-18 14:28] spikehains commented on #97
After a brief review of histories, they seem legit but different. Should vNext be merged into master?

Can a working group member or contributor comment on how to best understand the branches?

[2018-04-17 07:04] nirzamir opened #106 "Handling canonical dictionaries in resources"
If an object contains inherent dictionaries (that usually contain custom keys) in its properties, like:
`{
     id: '1234'
     customInfo: { customProperty1: value1, customProperty2: value2}
}`

How is it expected to perform filtering and sorting on collections of such objects?

For example:
<pathToServiceUrl>/collectionName?orderBy=customInfo.customProperty1

Or
<pathToServiceUrl>/collectionName

[2018-04-25 16:34] aqeelmoshref opened #107 "How to keep syncing Microsoft Azure AD records with MySQL database records (REST API PHP-Laravel)"
I've been looking for this issue to solve but couldn't find a suitable answer or blog.

Does any know how to keep syncing Microsoft Azure AD with MySQL database records for example the Users table, so that I don't have to create a new user manually through my application or MySQL database. @msftgits @msgits2

Thanks

[2018-04-25 21:31] #107 closed, assigned to nobody

[2018-05-20 01:49] shikhartandon1993 opened #108 "Problem with BluetoothLE code, GattCommunicationStatus.Success is not working"
Hi
I am using a code named "BluetoothLE" from https://github.com/Microsoft/Windows-universal-samples
In that UWP it enumerates perfectly but when I press Connect button it says "Device Unreachable".
the GattCommunicationStatus.Success method is not returning true value.
Thanks

[2018-05-21 21:42] #108 closed, assigned to nobody

[2018-05-21 21:43] gareth-a-jones commented on #108
Shikhar, this is unfurtunately not relevant to this repo - did you perhaps mean to submit it in a different one?

[2018-05-21 22:11] AndrewCraswell commented on #105
+1

[2018-05-29 19:47] shazqadeer opened #109 "NotFound vs. NotAuthorized"
The Azure Blockchain team is building a service with get endpoints for retrieving objects associated with ids.  Such an endpoint could fail to return a result either if the supplied id does not exist or it exists but the user is not authorized to access the object at that id.  What is the recommendation for the appropriate error code to be returned: NotFound or NotAuthorized?

[2018-05-29 20:10] gareth-a-jones commented on #109
Confusingly, given its name, I believe the notAuthorized code should really only be used for AUTHN errors.  i.e. your token is incorrect in some major way.

AUTHZ errors should be opaque, so your ID space can't be fished by a low-privilege user to find an attack surface, so I would recommend just a 404 either way.

[2018-05-29 20:19] daspek commented on #109
I'm actually a fan of the reverse -- default to AccessDenied.
Caller is authorized to interrogate this namespace and the item does not exist --> NotFound
Caller does not have permission but the item DOES exist --> AccessDenied
Caller does not have permission but the item DOES NOT exist --> AccessDenied (you can't interrogate the namespace)

in my experience, the problem with NotFound is that if a

[2018-05-29 20:47] gareth-a-jones commented on #109
That's fair - just so long as it's the same error either way when the caller does not have permission.

[2018-05-29 20:48] darrelmiller commented on #109
@daspek Am I correct in assuming by AccessDenied, you mean 403?

I also like the approach you outline, but it does require implementation frameworks to support being able to check permissions for a URI space as opposed to a specific resource.  Sometimes that's easy, sometimes it is less easy.

[2018-05-29 21:14] tomkerkhove commented on #109
Probably a stupid question but how do you distinguish the 403 for the supplier id to which he does not have access or the API in general? Do you provide some context somewhere?

[2018-05-29 21:38] darrelmiller commented on #109
@tomkerkhove I think you would need to invent some payload format to identify what permissions are missing.  I don't think there is anything standard.

[2018-06-08 22:17] dluc opened #110 "Question: request pattern for non CRUD operations"
While it's easy to design API around the concept of Create, Read, Update, Delete, often services need to support actions which don't map well to CRUD nor to HTTP methods.

Some examples:
* Creating a resource using a template, providing data for template placeholders
* Searching resources with a complex query that doesn't fit in the URL
* Executing a special operation on a resource, e.g. backup
*

[2018-06-15 14:38] eyal-lupu opened #111 "An invalid json in 'Obtaining a delta link'"
There seems to be an invalid JSON in the example for the Obtaining a delta link (10.3) section:

[code]

there is one extra comma after the last element in the array

[2018-07-17 20:31] chriscoderdr commented on #96
@yuvipatel thanks for the package, I wouldn't be able to use it cause I'm using postgres not mongodb, but I may be able to modify the code to make it work with postgres.

[2018-09-13 01:13] #111 closed, assigned to nobody

[2018-09-13 01:18] gareth-a-jones commented on #110
On the whole, we've been following the OData action convention which is just to use a regular '/' delimiter.  This does leave open the possibility of ambiguity, but in practice items have something like a Guid as an identifier in many services, making it not an issue.   For ARM services where human-centric identifiers are used, I don't know what we're doing, although in general, I find that patter

[2018-10-01 02:01] nathan78906 opened #115 "Ole Date "more info" link broken on Guidelines.md"
In table `11.3.2 Commentary on date formatting`

Old link: https://msdn.microsoft.com/en-us/library/windows/desktop/ms221199(v=vs.85).aspx
(redirects to): https://docs.microsoft.com/en-us/previous-versions/windows/desktop/api/oleauto/nf-oleauto-varianttimetodosdatetime

Should be: https://docs.microsoft.com/en-us/windows/desktop/api/oleauto/nf-oleauto-varianttimetodosdatetime

[2018-10-05 18:29] gareth-a-jones commented on #100
Thanks for the PR Julie.  I'm wondering if '(from a fixed set)' would actually capture the intent better than just removing it totally?

[2018-10-06 00:52] #115 closed, assigned to nobody

[2018-10-08 17:43] gareth-a-jones commented on #109
So I think we settled on Daron's guidance here - use AccessDenied for all cases where you aren't authorized.

[2018-10-08 17:43] #109 closed, assigned to nobody

[2018-10-26 13:08] terumiisobe commented on #97
According to what I found out contributing in this repo, the vNext branch is a development branch from master, I guess it is used as master, and all the new branches are called topic branches which are ramifications of vNext. This link might be helpful to understand this issue [https://www.git-scm.com/book/en/v2/Git-Branching-Branching-Workflows#Topic-Branches](url)

[2018-12-17 21:48] hakant opened #167 "Align error responses with ProblemDetails specification (RFC 7807) ?"
ASPNET Core 2.2 [implements ProblemDetails specification](https://blogs.msdn.microsoft.com/webdev/2018/09/12/asp-net-core-2-2-0-preview2-now-available/) while Microsoft API Guidelines [advises a different error structure to be served](https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses). Is the guideline supposed to align with [RFC 7807](https://tool

[2018-12-18 09:01] trshiv commented on #96
I'm interested to know if anybody is interested in translating the filter expression to Elasticsearch. I'm looking to do this for my current work and if anyone is interested in contributing they are more than welcome.

[2018-12-18 11:19] trshiv opened #168 "Filters: "in" operator"
Frequently, there are filter expressions where the same attribute is compared with multiple values like -

`$filter=categoryId eq 'cat1000' or categoryId eq 'cat1001' or categoryId eq 'cat1002'`

It is very desirable to write the above as

`$filter=categoryId in ['cat1000', 'cat1001', 'cat1002']`

This is less verbose and much better for human readability and visual debugging, especially when comb

[2019-01-29 11:04] chenchen1987 opened #171 "Naming convention for bulk operations?"
Are there any naming convention for bulk operations? The best one I found on a Google search is [here](https://github.com/NationalBankBelgium/REST-API-Design-Guide/wiki/Bulk-operations-Resources-naming-convention), which seems good.
But I would adopt things published by Microsoft with more confidence.

[2019-02-14 10:56] ghost opened #173 "Question: What is the significance of "$" in $filter, $order etc"
A basic, but honest question: What is the significance of the "$" in $filter, $top, $order query parameters? Is there a different interpretation for query parameters that do not contain this prefix?

[2019-02-24 15:36] devjunior91 opened #175 "REST API - Delete"
Hi All,

I wondering if anyone would be able to advise. I have an RSS feed in a html table.
I have a script in place which imports the RSS feed items into the Sharepoint list - this works fine.
Each item has a unique identifier.

I need to add a delete functionality to this. If an item from the RSS feed is deleted this also needs to be reflected in the Sharepoint list. Any ideas how I would do thi

[2019-04-08 08:31] SMAH1 opened #176 "Section 9.7.3 format Error"
In section `9.7.3 Operator precedence` text not formatted correctly.
After `Relational` in table, show mistake.
I saw raw format is correct but README.md show not correct.

![Untitled](https://user-images.githubusercontent.com/21136680/55709767-4a9ed800-59fe-11e9-89af-398f82bbfa08.png)

[2019-04-09 18:51] jaredmoo opened #177 "How should recordset count be returned?"
https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#983-additional-considerations

How exactly should the count be returned? I assume it should be an additional value in the collection like this:

[code]

[2019-04-10 08:30] TomasHubelbauer commented on #105
This would be a really nice improvements and one of the PRs is even approved, although that is from fours months ago and since then there have presumably been more changes. Hopefully it gets updated and merged at some point.

[2019-04-10 08:32] TomasHubelbauer opened #178 "Turn into a GitHub Pages website"
This is related to #105. If the guidelines were in README.md, turning on GitHub Pages is a matter of clicking one button and then the link could be included in the repository description row on GitHub. This would make it super easy to share the site in a form which is nice for reading.

[2019-04-10 18:44] cleemullins commented on #178
+1

This seems like a good idea. We could pretty easily move the file to a new name, although it would break any existing links.

[2019-04-11 06:23] tomkerkhove commented on #178
Good suggestion.

Concerning breaking linkes - That can easily be fixed by keeping the file with a pointer to new location.

[2019-04-11 07:17] TomasHubelbauer commented on #105
A good suggestion by @tomkerkhove in #178 relating to preserving existing links:

Just keep `GUIDELINES.md`, delete content, keep only headers and underneath each header provide a link to the README or to the actual GitHub Pages site as per #178.

[2019-04-12 03:30] gareth-a-jones commented on #177
That's correct, or if you happen to be using OData as your implementation it is an annotation @odata.count or @count.

[2019-04-12 03:30] #177 closed, assigned to nobody

[2019-04-16 15:23] brian-vosburgh commented on #176
This can be fixed by prefixing each line in the table with another pipe.

[2019-04-22 08:50] TranNgocKhoa opened #179 "Question: What tool do you use to draw Sequence diagram?"
I'm just wondering what tool do you use to draw the diagram. I like it and I'd like to use it :D

[2019-04-22 17:56] cleemullins commented on #179
I use [WebSequenceDiagrams](https://www.websequencediagrams.com/).

For my use, I just bought a license so I can use some of the extra features. Their free tier works quite well. One the things I like about it is that capturing the text (in a doc, in a github file, etc) gives you the full diagram. This makes it easier to track/modify/share than sending around binary files such as Visio diagrams.

[2019-04-23 01:34] TranNgocKhoa commented on #179
Oh, thank you so much!

[2019-04-23 01:34] #179 closed, assigned to nobody

[2019-07-17 23:40] mpetrinidev opened #181 "Translate guidelines to another language"
Is it possible to translate guidelines to multiple languages?
I'd like to collaborate with spanish.

[2019-07-18 09:17] rauluka opened #182 "Inconsistent details example"
Regarding: https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md
In section 14.4.4 Example Response "details" object doesn't fit the definition of "details" in section 7.10.2, table Error: Object. Details should be Error[]
[code]

It looks like in 14.4.4 "details" should be changed to "innerError".

[2019-09-06 17:03] chuxia15 opened #183 "Looking for guidelines - should one API always return the same "kind" of responses?"
Say we have an existing API to get a book object:
**GET api/books/{id}**

To call this API, you have to **include authentication token** as a HEADER in your request.
and the book object includes properties such as:
- Title
- Author
- Comments
- Publisher
...

Now we want to add some way for client to get some book info **without authentication**. And the the response for such request will include

[2019-09-19 22:49] krishnand opened #184 "Section 7.10.2 - error code"
Can an error response `code` be an integer ? The `message` attribute in most cases is expected to contain the detail and be descriptive. There are several advantages that I foresee for such a scheme.

- Easier for clients to deal with integer codes
- Importantly, a large distributed service stack, it is easier to allocate ordinal integer ranges - this accounts for both horizontal and vertical expa

[2019-09-19 23:02] krishnand opened #185 "Section 7.10.2: `innererror` vs `details`"
- Is the `innererror` vs `details` mutually exclusive? If they are, could we align on the naming convention - maybe just `innererrors`. If they are not mutually exclusive, could there be a case for it to be assigned under the `innererror` as a `details` list?
- If the `details` is expected to a top level attribute, would it be better if it is an object instead of an array? A suggestion would be fo

[2019-09-19 23:05] gareth-a-jones commented on #184
These guidelines are primarily targetted for us at public APIs, in which case googling for the codes is a major use case.   It's not realistic to google for a an integer.

I'd assert that even in an enterprise internal case, using internal corporate search tools on an integer is also problematic.  So whilst you are making things easier for the producer, you are making it harder for the consumer, w

[2019-09-19 23:49] krishnand commented on #184
The intent with `error` message if I'm correct is that we are trying to draw parallels with `Exception` types in dotnet and we don't have a way to build typeness into the JSON error message. If this is true then there is a case to be made for an explicit `type` attribute leaving the `code` to have a more concise meaning.

[2019-09-19 23:54] krishnand commented on #184
Wouldn't the search context be the {service, code} tuple regardless of if the code is text or integer? As well I'd assume it will be easier to work with integers when consuming service SDKs than text.

The error message JSON is simply the parallels to the `Exception` types in dotnet and we don't have a nice way to build the type-ness into the JSON format without having an explicit attribute for it

[2019-09-20 01:16] gareth-a-jones commented on #184
Agreed, the product name as a human string followed by the code is usually the practical search from a google-fu point of view or [product] in a stack overflow tag then the code.

I don't understand how type and code would not just be a 1-1 correspondence with each other and thus redundant - this isn't an O-O model in that way.  We're really not trying to model .Net here, although some ideas are i

[2019-09-23 20:48] gareth-a-jones commented on #185
Theoretically they aren't mutually exclusive but in practice they have been.  One is for a drill down on specifics, and the other is for building composite errors, for example where there is a cascade failure underlying the operation, such as in a compiler.

Help me understand how an object containing an array rather than simply an array would make `details `any more useful or clearer?

[2019-09-23 20:58] gareth-a-jones commented on #105
Thanks for the feedback and the votes but we've decided not to accept this suggestion.  We feel like the two files serve different purposes and allow us to add separate extra guidelines in future is we so choose.

[2019-09-23 20:58] #105 closed, assigned to nobody

[2019-09-23 21:00] #100 closed, assigned to nobody

[2019-09-23 21:03] gareth-a-jones commented on #173
It's just an older convention that we picked up from OData.  We are gradually moving to accept both with and without.

Certainly you should not differentiate in meaning between parameters named $foo and foo as that would confuse users terribly.

[2019-09-23 21:03] #173 closed, assigned to nobody

[2019-10-04 17:28] Paul-Dempsey commented on #181
Certainly you can. The Edge Dev browser I use has a right-click menu item to Translate the page. Even when it says "Translate to English", I can pick that and then choose another language where I can choose Spanish (may require adding it in settings). Although, I'm guessing that you really meant is to request that the guidelines be professionally translated into the world's languages for you and h

[2019-10-04 17:38] Paul-Dempsey commented on #110
Service health (and other metadata) can be consider simply a read-only resource:

GET https://api.contoso.com/v1.0/service/health

[2019-10-13 21:17] chiawendt opened #186 "Opinion on trailing slash in URL?"
I heard someone claiming the URL for a collection should be have trailing slash, for example `GET https://example.com/v1/articles/`. And that a popular [stack exchange answer](https://softwareengineering.stackexchange.com/questions/186959/trailing-slash-in-restful-api) also advocates for it. Does this guide have any opinion on this topic?

[2019-12-03 21:48] euclid47 opened #189 "Add Problem Details for HTTP APIs Error Reporting"
I would like to suggest adding Problem Details, [RFC 7807](https://www.rfc-editor.org/rfc/rfc7807.txt), to the document.

[2019-12-03 22:15] gareth-a-jones commented on #189
Hi eulid,
If 7807 had been around when we were standardizing the way we did errors at MSFT, then I'd agree.
At this time, the value of changing from our approach to 7807 or a compliant variant doesn't supersede the cost to customers of change and variance, so I'm going to reject this.

For those taking these guidelines and making their own, then I think it would be well worth a good, long look.

[2019-12-03 22:15] #189 closed, assigned to nobody

[2019-12-03 22:19] gareth-a-jones commented on #183
Personally I think it's fine if you wish to have a subset.      If the unauthenticated book had an actually different shape, then I think I would lean towards a different endpoint, but web purists would probably point more towards content negotiation and just having the content type be different.   However, with JSON formats, individualized content types for each chunk of JSON have often fallen by

[2019-12-03 22:19] #183 closed, assigned to nobody

[2019-12-03 22:21] gareth-a-jones commented on #185
I'm going to close this Krishnan.

In general, we're not going to take changes unless there is a substantial improvement for customers that would significantly outweigh the downside of services differing in small but unnecessary ways between Microsoft products.

[2019-12-03 22:21] #185 closed, assigned to nobody

[2019-12-03 22:22] #184 closed, assigned to nobody

[2019-12-03 22:25] gareth-a-jones commented on #175
I'm sorry devjunior - this is not an appropriate place to ask for advice - perhaps Stack Overflow?

[2019-12-03 22:25] #175 closed, assigned to nobody

[2019-12-04 18:41] tanepiper commented on #186
The `/` at least in my opinion denotes a resource and so I'd expect something after it. I'd suspect most naive parsers for URLs probably break on a slash - most likely it would force the developer to trim any array of items from the split before accessing it. Also doesn't force the user to have to potentially add a slash via code to support your API where others don't.

[2019-12-10 16:39] ShemO254 commented on #182
Great article, thanks.

[2019-12-13 12:12] jawn commented on #97
I understand what's described about topic branches.

However, I fail to see how it explains that the master branch hasn't been updated since  28 Mar 2017.

I would expect approved changes to be merged to master.

[2020-02-19 00:40] O1O1O1O opened #190 "PII used in example of good URL"
Your example of a well structured URL:

in [URL Structure](https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#71-url-structure) includes PII in the URL which is prohibited in [PII parameters](https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#79-pii-parameters)

[2020-02-19 00:51] O1O1O1O commented on #14
@esatterwhite

But it doesn't really handle complex queries such as the example `(priority eq 1 or city eq 'Redmond') and price gt 100`

A quick search turned up RQL which can handle all these and more: https://github.com/kriszyp/rql

[2020-02-19 01:27] esatterwhite commented on #14
@O1O1O1O That is pretty neat. But there is some odd syntax there that doesn't sit too well with me

[code]

this has `price=lt=10` which seems incorrect and gives me pause every time I look at it.
It still think it would be better written as

[code]

[2020-02-19 08:52] O1O1O1O commented on #14
I'm inclined to agree, although they do say the `price=(lt=10)` is just an abbreviation for the parenthetical version - which I think it would be better to stick with always.

Plus the LHS part seems rather abusive of parameter parsing since I guess most frameworks would give you a parameter called `(foo` with value `3|foo=bar)`.  For sure it's intended to be used with some library code that just

[2020-02-19 23:12] esatterwhite commented on #14
For my tastes, I don't see to much value in not leveraging as much of the standard convention of `<key>=<value>`.

also with this syntax
[code]
the parens are much more ambiguous between grouping of statements and function calls.

A lot of the things we've gone back and forth on are why graphql was conceived. 🤷‍♂ The use cases for querystrings in urls just don't meet modern application needs anymo

[2020-04-11 18:41] RBhalala commented on #67
Gone through many documents but not able to conclude. So started looking into other companies problems with the URLs and what they are doing to resolve it. Found major problems of URL is case sensitive issue. So option one is on the least priority and option four is not so readable.
So go with the option two or three. Most of the companies like google, PayPal & other big companies are using spinal

[2020-05-01 19:05] TimLovellSmith commented on #71
My 2c: 'empty content' is just different from 'no content'. 204 is for 'no content' only, not empty.

[2020-05-01 20:45] cwoodruff commented on #71
I agree with @TimLovellSmith. There is a difference between an empty glass and no glass at all. 204 for no glass and 201 for the empty glass.

[2020-05-02 06:52] copdips opened #194 "white space in url"
Hello,

I found the example given by [9.6. Sorting collections](https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#96-sorting-collections) is using some white spaces, is it a best practice ?

`GET https://api.contoso.com/v1.0/people?$orderBy=name desc`

[2020-05-03 03:58] gareth-a-jones commented on #194
In execution the url woudl be encoded to %20, but we choose to avoid encoding in the docuemnt for readability.

[2020-05-03 03:58] #194 closed, assigned to nobody

[2020-05-03 04:06] gareth-a-jones commented on #71
I agree that the distinction between empty and none is served by these two codes. However, I'm struggling a bit to imagine a concrete example.   If it isn't a singleton, then it needs an ID to allow future referncing to DELETE the thing that was created at minimum I woul dhave thought.   If it's a singleton and has no data, then what is its utility?   It sounds like a switch at that point.

[2020-05-03 06:23] copdips commented on #194
@garethj-msft
yes I know white space is encoded to %20, and it works. My question is whether it is a best practice to use white space in URL if we have other choices? Why you chose white space instead of other solutions (+, &, etc.)

[2020-05-03 14:25] gareth-a-jones commented on #181
Mauro, the target of these guidelines is PRIMARILY Microsoft internal developers.    We publish them so the community can gain benefit and give us feedback.

As such, we don't have plans to translate the guidelines ourselves, as our worldwide developer cohort speaks English well enough to get the main benefit from them.

If you wanted to get together people to maintain translated mirror forks, the

[2020-05-03 14:25] #181 closed, assigned to nobody

[2020-05-03 14:27] gareth-a-jones commented on #194
I think it is a little questionable, but we were trying to stick with the OData standard which uses it, so we didn't have much choice.   If I were inventing a query syntax I would probably not use the spaces personally.

[2020-05-03 19:52] copdips commented on #194
thx for your reply

[2020-05-03 22:50] yuqieang19841028 opened #195 "https://github.com/Microsoft/vscode/wiki/Keybinding-Issues#troubleshoot-linux-keybindings"
https://github.com/Microsoft/vscode/wiki/Keybinding-Issues#troubleshoot-linux-keybindings

![image](https://user-images.githubusercontent.com/5047891/35430678-9fcc8bc0-0279-11e8-9f2b-3acd4a146741.png)

Duplicate of #23690

_Originally posted by @alexdima in https://github.com/microsoft/vscode/issues/42153#issuecomment-360713108_

[2020-06-11 09:58] BlackRider97 opened #206 "Which one to choose for error response RFC7807 specifications or Json API specifications or Microsoft's custom specifications"
.Net Core 3.0+ framework by default returns Problem details and following [RFC7807 specifications](https://tools.ietf.org/html/rfc7807) to return model validation error or internal server error. Net core 3.0+ framework also expects us to write own `CustomProblemDetailsFactory` to extend these HTTP errors based on business logic exceptions. Looking at latest Net core framework, it seems like Micros

[2020-06-23 20:18] seantbrady commented on #97
+1 I'm new to this repo and am not sure whether to reference `vNext` or `master`.

[2020-07-09 18:59] johanste opened #209 "Proposal: Enable retries for non-idempotent operations using client provided "logical request" tokens."
# Enable retries for non-idempotent operations using client provided "logical request" tokens.

Not all HTTP methods are guaranteed to be idempotent. This presents challenges when requests fail/no response is received by a client - is the request safe to retry or not?

A client-provided idempotency token/key/value can be used by a service to detect duplicated messages. A client would provide the s

[2020-07-09 19:48] JeffreyRichter commented on #209
I think you should limit this to POST operations only as PUT, DELETE, GET, HEAD, OPTIONS, & TRACE are supposed to be idempotent already as per the HTTP specification. If you want to be able to send this header for these other methods, then the service should just ignore it. But, I think it better to just limit this to POST.

To implement this robustly, the service needs to update it table of GUIDs

[2020-07-09 21:42] johanste commented on #209
@JeffreyRichter, `PATCH` is missing from your list of idempotent methods above - I assume that this was an oversight? I'd be fine with limiting the usage to methods that are defined as not being guaranteed idempotent in the HTTP spec. The client-visible delta between honoring it and ignoring it from an idempotent operation is (mostly) negligible.

And, yes, "cleaning up torn operations" (the servi

[2020-07-09 21:45] johanste commented on #209
Regarding the time limit, I'd like to specify a minimum value at least across Azure. And, yes, I picked 24 hours somewhat on random - it's long enough that the vast majority of "normal"/intended usage is covered. But that would likely be true for 12hrs as well...

[2020-07-09 22:46] tg-msft commented on #209
If we're using Shared Key for Storage, we'll sign for the Authorization header on each retry in case pathological settings push a request beyond the 15 minute window.

[2020-07-09 22:55] johanste commented on #209
Yes. I was considering excluding the Authorization header from this requirement. This may be the right thing to do. But interestingly enough, the [OASIS Repeatable Requests spec](http://docs.oasis-open.org/odata/repeatable-requests/v1.0/repeatable-requests-v1.0.html) (that I was just made aware of) seem to have the same requirement of headers not changing (and thus the same limitation). I'll follo

[2020-07-09 23:25] gareth-a-jones commented on #209
Seems like if we're putting a requirement on the server to store significant data for 12/24 hours (returning the response for a repeat) then server should be expected to throw a 4xx if the input parameters have changed, cos adding a hash of the input is minimal extra burden.  Agree that auth header needs to be exempted.   Seems like we should say something about the server exposing that it support

[2020-07-10 00:27] johanste commented on #209
@garethj-msft, agreed - if it is feasible for the service to determine changes by the client, returning a 400 response if the client changed values would indeed be preferable.

Also agreed on OPTIONS including a signal on the service having/not having the capability.

Are there any suggestions on if services should be rejecting requests with a retry request id header (loosely using the OASIS termi

[2020-07-10 05:08] gareth-a-jones commented on #209
I think if it supports the facility for some resources but not others it should 4xx,   But given most servers won't understand the header, they will just ignore it.   SO this is really a behavior targetted to removing surprise for users who have had success with soem resources and expect that the server will behave uniformly.   When it doesn't behave uniformly, that is pretty surprising and thus w

[2020-07-30 23:42] maxmathador opened #211 "Test"

[2020-07-31 01:55] #211 closed, assigned to nobody

[2020-08-19 17:09] Chrysweel commented on #96
Does anyone know of any php library that helps parse this input format?

It would be nice to have a section of libraries that are based on these guides and that help their implementation in projects.

[2020-08-23 04:39] #176 closed, assigned to nobody

[2020-08-27 08:19] MangoMovieStudios opened #216 "failed"
parent

    end
       end
          end.

[2020-08-27 08:56] #216 closed, assigned to nobody

[2020-09-01 21:02] sublimemm opened #217 "NotFound question"
Whats your position on returning a 200 with an empty body/collection when there's a collection endpoint and the results are empty?

People tend to think this is obviously a 404 situation, but this leaves the client unable to differentiate between the wrong endpoint and the correct endpoint but no results.

Do you have the same opinion when it's an entity endpoint vs a collection endpoint? e.g., /m

[2020-09-03 16:03] doug-ross commented on #217
Agreed. As someone who has done some deep Apache and IIS module work, 404's were intended to indicate a URI was invalid. That's very different than responding to a query that has a zero result set.

[2020-09-03 16:05] Larkenx commented on #217
Is there an appropriate 2xx response code for an empty response body that indicates no-content? 204 is close, but semantically relates to a PUT/POST on create-update-delete https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/204

[2020-09-03 19:39] cwoodruff commented on #217
Actually the purpose of 404 response code is to notify the initiator that the resource addressed in the URL is not found. If the URL was not valid I think that is another response code. I think 400 Bad Request would be the best for a wrong URL.

[2020-09-03 19:59] doug-ross commented on #217
@cwoodruff  - agreed. Probably didn't state that clearly enough. If the URI specifies a resource that was not found, it should generate a 404.

[2020-09-03 20:02] gareth-a-jones commented on #217
We would always say that should return a 200 with an empty collection.   The call succeeded, the collection exists.  There's just nothing in it.

Given we always follow the convention of having the array itself be a 'value' property on a top-level object representing the collection itself, there's also the ability to return collection metadata that is valid regardless of whether there is anything

[2020-09-03 20:08] cwoodruff commented on #217
@garethj-msft I was mistaken and I agree with you with a caveat. I have always architected my APIs to return a 204 when there is an empty response body. Now if you are returning an empty set and have an empty json enclosure within your response body then yes a 200 would be correct but if your API only returns a single resource and there is no content in the response body then a 204 would be the be

[2020-09-03 20:35] sublimemm commented on #217
@garethj-msft  yep, that's our thinking on the collection endpoints as well.

What about on a regular entity endpoint e.g., /mything/123 where it is a valid url, but mything 123 doesn't exist?

[2020-09-03 21:13] doug-ross commented on #217
That's a tougher question, because the spec is somewhat ambiguous (i.e., "incorrect parameters" should generate a 404). Does that mean parameter names or parameter values? The spec also states the "HTTP status codes _should_ be used".

My opinion only: if the app URI works and the endpoint has to look into a data-store to determine 123 doesn't exist, that's still an application-level error resulti

[2020-09-03 21:39] ThiagoDaher commented on #217
Consider that API retrieves "resources" (or objects, as you wish) as a webSite retrieves pages.
If your request targets an user by its name and the user with requested name does not exists, you can consider that the "requested resource" does not exists (or not found), right?
Now, consider that api results Ok code. With an empty content, where is the requested data?

I agree that this question is t

[2020-09-03 21:44] doug-ross commented on #217
Thiago, that's a damn good point. I hadn't thought about arguments as part of a "virtual URI".

This one is really tough and well above my pay-grade!

[2020-09-03 21:53] ThiagoDaher commented on #217
Incorrect parameters should results BadRequest, in my opinion, Doug.

Believe me, your "pay-grade" becomes very higher than mine... Here in Brazil, things are really bad... And it is not a company issue. It is on whole country, and since long time ago... :-(

[2020-09-04 13:08] sublimemm commented on #217
This is exactly the crux the of the question. Is the NotFound for the URI or the resource?

https://tools.ietf.org/html/rfc7231#section-6.5.4

You can read this an thing either way... "the endpoint /mything/123 was called and I successfully fulfilled the request, the response is 204 No Content at that URI"

or  "the endpoint /mything/123 was called and I successfully fulfilled the request, the res

[2020-09-04 16:01] ThiagoDaher commented on #217
I believe that NotFound is related to both, sublimemm.
NoContent represents a task that does not produces a result, but something has been done in server side. No content has been returned due the fact that there is no result to be returned AND this is the expected scenario. All parts of your request has been informed and are all correct (server, path, filter and parameters).

In other hand, NotFo

[2020-09-04 18:07] gareth-a-jones commented on #217
I can see the argument either way, but they key thing really in the spirit of guidelines is that for customers' sake, you are internally consistent, consistent across your products and where possible consistent with industry norms.

Our choice is that this individual scenario always returns a 404.

Does anyone believe there's a clarification to the guidelines necessary from this discussion and if

[2020-09-06 08:06] voroninp commented on #217
@sublimemm  What I do not like about 404 is that it may be caused by many different things like wrong reverse proxy configuration, wrong routing in the service, etc.

The more I work with external APIs the more I like those which always return 2xx (or 5xx in case of internal failure), but the payload contains information about operation result: whether it is a success or failure.

In other words,

[2020-09-08 20:42] sublimemm commented on #217
@voroninp yep, those are exactly some of the reasons our internal teams have complained about this 404 scenario.

@garethj-msft I do think the section collections should call out that it never returns a 404. I can start a PR. I'd prefer you leave the individual entity situation ambiguous so that we don't have to tell people we conflict with the MS guidelines :)

[2020-09-20 11:38] qu63V6hfk1 opened #219 "[abm-my.pdf](https://github.com/microsoft/vscode/files/5251161/abm-my.pdf)"
[abm-my.pdf](https://github.com/microsoft/vscode/files/5251161/abm-my.pdf)

_Originally posted by @qu63V6hfk1 in https://github.com/microsoft/vscode/issues/106907#issuecomment-695747050_

[2020-10-27 21:00] fapostolo commented on #67
Personally I rather use snake_case or camelCase as select with mouse button is easier, being spinal-case the worst case scenario for that, and option 4 is the worst choice overall. Would say camelCase might be risky for some systems that are not case sensitive although I don't think it should ever be a problem as why would some1 distinguish endpoints with Upper case, would be just bad practive.

[2020-10-28 05:12] shinkarmv commented on #67
Agree with @RBhalala.
Spinal-case is more suitable option. It is widely used.

[2020-11-27 10:56] letmaik commented on #10
@darrelmiller @garethj-msft Could you please add a final statement and close issues and PRs that have been abandoned? If this issue is indeed still actively under discussion then a status update would be good.

[2020-11-27 12:18] letmaik opened #222 "Error details for stepwise long-running operations"
How should error details be exposed for operation failures? The guidelines are silent about that, whereas I would have expected that an [OData-style `"error"` field](https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses) should be included in the response.

I similarly can't see how real APIs deal with that which seems extremely odd: https://docs.micro

[2020-11-30 19:37] EdwardFinn opened #224 "Removed"
Sorry for the issue, I used the wrong window. Closed, and removed content.

[2020-11-30 19:40] #224 closed, assigned to nobody

[2021-02-03 02:50] Flyboy95 opened #225 "With the UI overhaul for FancyZones in version 0.31.1 of PowerToys, #4098 is complete. The new editor looks great! Super grateful for all of the hard work going into these features!"
With the UI overhaul for FancyZones in version 0.31.1 of PowerToys, #4098 is complete. The new editor looks great! Super grateful for all of the hard work going into these features!

_Originally posted by @JaimeStill in https://github.com/microsoft/PowerToys/issues/6611#issuecomment-772160069_

[2021-02-03 03:03] gareth-a-jones commented on #225
Think you hit the wrong repo there Flyboy :-)

[2021-02-03 03:03] #225 closed, assigned to nobody

[2021-02-03 03:39] nschonni commented on #225
@garethj-msft it's a bot

[2021-02-07 04:37] gareth-a-jones commented on #217
This has been a great discussion folks and lead to an improvement in the guidelines.
I'm going to close it up now.

[2021-02-07 04:37] #217 closed, assigned to nobody

[2021-02-07 04:41] gareth-a-jones commented on #206
I'll answer with a meta-response if you don't mind.
By default if you're a Microsoft team you should follow the top level Microsoft guideline and return the error specification it provides.

If you are an Azure team, then you should layer on top of that the Azure guidance and return whatever that provides, if it overrides the company-wide guidance.

If you are a Microsoft Graph team, then you shou

[2021-03-29 16:45] Larkenx opened #228 "Documenting OData $Filter in Open API Specification"
For defining API specifications for our customers, there is a lot of ambiguity about which keys you can actually search by given a `$filter` query parameter. When using explicitly named query parameters, `name`, `address`, etc we can provide meaningful documentation on each parameter type, some examples, content type.

Are there any guidelines for documenting all the possible parameters you can ha

[2021-05-11 15:00] danielcrenna opened #230 "Request for additional guidelines for nested/embedded collections"
Currently, the guidelines mention the URL structure for nested collections within a resource:

https://github.com/microsoft/api-guidelines/blob/vNext/Guidelines.md#931-nested-collections-and-properties

`GET https://api.contoso.com/v1.0/people/123/addresses`

The guidelines also mention that paging semantics should be consistent between the parent and any nested collections.

However, there are so

[2021-05-27 18:50] markweitzel opened #231 "Review & update Azure REST guidelines"
Review the current Azure REST guidelines and modify appropriate sections with updated guidance.

[2021-06-02 14:04] markweitzel opened #237 "Capture rules relative to required fields and how they should be modeled in OpenAPI"
The following rules need to be captured, either in a section on JSON models OR in a complementary document on OpenAPI.

If you also support PUT then, then model depends on whether you have a required fields or not.
If you have no required fields, then again, you can use 1 model for everything.
If you have some required fields, then create a model with the required fields for PUT request/response,

[2021-06-04 15:56] rysweet opened #239 "Merge new Breaking Change table"
Jeffrey has an updated version of the Breaking Change doc to merge.

[2021-06-17 18:42] markweitzel opened #245 "URL patterns for collections should be covered elsewhere. If not we'll need to cover them here."
URL patterns for collections should be covered elsewhere.  If not we'll need to cover them here.

_Originally posted by @mkistler in https://github.com/microsoft/api-guidelines/pull/243#discussion_r653706954_

[2021-06-18 21:12] tg-msft opened #247 "Updated Azure Guidelines: Filtering"
This came up during [the first draft of collections guidance](https://github.com/microsoft/api-guidelines/pull/243#discussion_r654526793).

We should think about prescriptive guidance for a default filtering language, how it relates to OData, and whether we want to include a small list of alternative filtering languages.

[2021-06-18 21:12] tg-msft opened #248 "Updated Azure Guidelines: Projections"
This came up during [the first draft of collections guidance](https://github.com/microsoft/api-guidelines/pull/243#discussion_r654526793).

We should think about prescriptive guidance for projections (in List and maybe Get operations).  Current Azure examples include:
- `$select` for OData projections that narrow to a set of fields
- `$expand` for OData projections fetch additional entities
- an `

[2021-06-25 17:37] mikekistler commented on #245
I think this is now covered in the latest version in the `azureRestUpdates` branch [here](https://github.com/microsoft/api-guidelines/blob/azureRestUpdates/azure/Guidelines.md#urls).

In particular, I added a description of the `resource-collection` and `resource-id` path segments, which I think is mostly what is needed.

[2021-06-28 22:00] OlgaPodo opened #255 "Evolvable Graph API design"
We are currently working on updating a set of guidelines specific for Graph APIs.

We also observed a need to list the best practices and patterns for evolvable API designs to accommodate changes more easily. We are thinking that it should probably include:
- Evolvable enums;
- Guidance on property versioning and other non-breaking changes.

Please add suggested topics to include in this issue.

[2021-06-29 13:33] markweitzel opened #257 "Azure Guidelines - Update ETag & Optimistic Concurrency section"
If you choose to use a Weak ETag, then...

[2021-06-29 13:40] markweitzel opened #258 "Azure Guidelines: Determine need for and guidance on 100-Continue"
We have encountered few situations where a "look before you leap" request pattern has been used. This can be useful for requests that are expected to return a large payload. However, its application has been so rare that, at this point, there has not been a need to provide prescriptive guidance. We are going to determine if this is a more pervasive pattern that previously thought, and if so, craft

[2021-06-29 13:44] markweitzel opened #259 "Azure Guidelines: Reconcile new guidelines with ARM recommendations"
Management plane implementations also have a specific set of recommendations and guidance. We need to ensure we are consistent across the board or that when we differ, we clearly communicate the reason & motivation for doing so.
See: [ARM API Review best-practices & common issues](https://armwiki.azurewebsites.net/rp_onboarding/process/api_review_best_practices.html)
<sub>Note: This is an internal

[2021-06-29 20:38] markweitzel opened #260 "Azure Guidelines: Create reference doc from New Service Recommendations"
To create a more concise set of guidelines, we should pull out the first section of the 'azureRestUpdates' branch (New Service Recommendations) into it's own distinct doc.

[2021-06-30 16:29] triplanedave commented on #255
Some other thoughts on ensuring longevity of an API and what constitutes breaking changes and should be planned for in design:
- Change a method or resource name.  Ensure your names outlive internal product code names, avoid jargon, are consistent with other naming conventions for similar methods/resources.
- Changing invocation pattern. Ensure you plan ahead for required parameters so you aren't

[2021-07-02 13:35] markweitzel opened #261 "Azure Guidelines: Include Error Codes as part of OpenAPI spec"
During one of the API reviews, a question came up regarding the inclusion of service error codes in the OpenAPI specification for a service. In the guidelines, we indicate that the "code" part of the error body IS part of the API contract. Given this, should we recommend that all "codes" be enumerated in the OpenAPI document? Does this impact the breaking change policy?

[code]

[2021-07-02 15:22] markweitzel opened #262 "Azure Guidelines: Determine need for additional guidance around number formats"
Determine need for additional guidance around number formats in the HTTP section on URLs & Headers

[2021-07-02 16:45] markweitzel commented on #260
Yes. We'll pull this out.

[2021-07-02 17:40] mikekistler commented on #261
This topic was discussed in the 7/2/2021 Azure API Stewardship reviewers meeting and we decided that including the error codes in the API definition is desirable _if_ it can be done efficiently and in a way that the docs team can consume it.  There is also some intersection here with the work that @tg-msft is doing on best practices for error handling in the SDKs.

I will work with @diberry and @t

[2021-07-06 16:12] mikekistler commented on #261
The Azure Storage services have documented their error codes in their public documentation:

https://docs.microsoft.com/en-us/rest/api/storageservices/status-and-error-codes2

Some observations:
- There are 43 “common” error codes — like “ResourceNotFound”, “InvalidInput”, “ServiceError” — that should probably be common across _all_ Azure services, not just the storage services.
- Some of these co

[2021-07-06 16:49] mikekistler commented on #261
Other points to consider:

- If we chose to include the error codes in the API definition, we would almost certainly do this with an [“extensible enum”](https://github.com/Azure/autorest/tree/main/docs/extensions#x-ms-enum), so that we could include a description for each error code.
- But it is common practice to define the values of an extensible enum _twice_, once in the enum (since this is the

[2021-07-06 22:46] markweitzel opened #265 "Azure Guidelines: Determine appropriate guidance for use of "leader" character for actions"
In the proposed update to the Azure REST Guidelines ( #264 ) there is guidance on using the ":" character as a "leader" to indicate that what follows is an action on the resource (See: "Performing an Action"). However, Postman (and other REST clients like the GitHub CLI) treat ":" as path variables.

The main benefit of using a distinct character in the path to distinguish between an action and a

[2021-07-07 17:23] heaths commented on #265
Testing in Postman, "/:" -> ":" does indeed solve the issue of looking like a path variable; however, in swaggers like https://github.com/Azure/azure-rest-api-specs/blob/0e23428515973e7893a9e6364f0e432f1e8adeb5/specification/cognitiveservices/data-plane/Language/preview/2021-05-01-preview/questionanswering.json#L30 , if this was a root path (in this case it's not, since the `hostTemplate` is "{end

[2021-07-07 18:31] JeffreyRichter commented on #265
If there is no strong reason to switch away from :, I'd greatly like to keep it as is because we already do have some services that adopted this.

[2021-07-09 16:49] markweitzel commented on #265
We had a discussion on this and, given that there is a reasonable work around, a downstream cost to change it, and (at present) minimal impact, we are going to continue with the pattern using the ":", e.g. ```.../items/:doSomething```.

[2021-07-09 18:03] markweitzel opened #266 "Refine Guidance on Long Running Operations (LRO)"
What is in the current rev of the specification is an improvement and a good start. However, we'd like to add more guidance in the area of LROs.

[2021-07-09 18:57] tg-msft commented on #261
A couple of notes from a quick discussion with @mikekistler today:

- Some services are already specifying the [entire list of error codes](https://github.com/Azure/azure-rest-api-specs/blob/storage-dataplane-preview/specification/storage/data-plane/Microsoft.BlobStorage/preview/2019-02-02/blob.json#L8586) which is generated into [an extensible enum](https://docs.microsoft.com/en-us/dotnet/api/azu

[2021-07-10 01:06] johanste commented on #257
- Services *should* use a checksum of the representation of a resource rather than a last modified/version number if at all possible/computationally feasible.

- Services that support range requests *should* use a strong etag in order to support caching.

- Services that supports multiple representations (`Content-Encoding`s) for the same resource *must* generate different etag values for the diff

[2021-07-20 20:14] markweitzel opened #267 "Provide examples of hero scenarios for so service teams."
I'll take this as an action item for an update after we merge this one.

_Originally posted by @markweitzel in https://github.com/microsoft/api-guidelines/pull/264#r673455443_

[2021-07-20 20:22] markweitzel opened #268 "Provide example hypothesis documents for service teams."
Similarly to above, links to example hypothesis would be good.

_Originally posted by @KrzysztofCwalina in https://github.com/microsoft/api-guidelines/pull/264#r673322759_

[2021-07-20 21:11] markweitzel opened #269 "Add section on operation granularity"
Based on a [review comment](https://github.com/microsoft/api-guidelines/pull/264/files#r673477335) from Krzysztof: "It's possible that I missed it, but I think we should have a section on granularity of service operations. From time to time we run into cases where a single user scenario corresponds to too many service calls. This means that client library has to to many calls to the service to act

[2021-07-20 21:13] markweitzel opened #270 "Determine if we need a section on batch operations"
In a [review comment](https://github.com/microsoft/api-guidelines/pull/264/files#r673477335), Krzysztof suggested we consider adding a "batch" section. Capturing this here for later evaluation and determination.

[2021-07-21 16:07] mikekistler opened #271 "Add clear guidance on sending “enum integers” over the wire"
The updated Azure Guidelines.md in #264 included this Guidance:

But this is unclear. Does it mean:
- don’t define integer fields as enums (in this case some rationale should be given), or
- don’t send the integer index of a string enum value (the typical representation of enums in some languages) for string type enums — send the actual string value, or
- something else?

I’ve removed the guidance

[2021-07-21 18:19] #262 closed, assigned to nobody

[2021-07-24 13:39] mikekistler commented on #265
This issue has raised its ugly head again so I am reopening.

[2021-07-24 14:08] mikekistler commented on #265
To help inform this discussion I have done a scan of the azure-rest-api-specs repo to determine how prevalent the use of ":" is currently in Azure paths.  I'm going to describe my analysis methodology since I have probably made some assumptions about how this repo is organized and if any of these could materially affect the results I hope folks will point these out.

To inspect all the "paths" for

[2021-07-26 15:30] mikekistler commented on #265
Capturing discussion from internal email to the Azure API Review Board:

The current guidelines suggest:
✅ DO pattern your URL like this to perform an action on a resource URL Pattern https://.../<resource-collection>/<resource-id>/:<action>?<input parameters>

However, we are running into issues applying this pattern to form recognizer (ex. https://{host}/formrecognzier/documentModels/prebuilt:re

[2021-07-26 15:50] mikekistler commented on #265
Note: using a query parameter to designate the action has problems:
1) it can be difficult to have multiple actions on a resource, since OpenAPI does not allow query parameters in the path,
2) this could make RBAC difficult.

[2021-07-27 20:15] markweitzel opened #272 "Create guidelines for websockets."

[2021-07-28 01:24] mkistler opened #273 "Cross-check Azure guidelines with ARM guidelines to ensure consistency"
We should make sure the Azure guidelines are consistent with the RP guidelines — meaning that these guidelines should not contradict anything in the RP guidelines, but the RP guidelines can be more strict.

[2021-07-28 03:13] mikekistler commented on #265
I pulled down the latest Postman client (8.9.1) and tested paths with "/:" (Microsoft style) and the bare ":".

It appears that the "/:" (still) exhibits the problem of Postman interpreting this path segment as a path parameter. I used Postman to issue a request to `http://192.168.0.26:1234/pets/:feed` and caught the request with `nc`.  It showed the URL as `GET /pets/`.

But the bare ":" does not

[2021-07-28 12:20] mkistler commented on #265
A little more info here. Postman does not seem to recognize the OpenAPI standard syntax, `{}`, for path parameters.

![image](https://user-images.githubusercontent.com/800728/127320765-b70ec3f3-76e1-4979-8c78-e4e92ec386e6.png)

Notice in this screenshot how "feed" is listed as a path parameter but "petName" is not.

What this tells me is that users _cannot_ simply take paths from our documentation

[2021-07-28 15:58] JeffreyRichter commented on #265
I just found this: https://learning.postman.com/docs/sending-requests/requests/#sending-parameters
So, this: thing is clearly part of Postman's design. Unfortunately, they were there first and we have lots of customers that use it (even I used to use it).
So, since we don't have many services using our /: yet and because we can change the character to something else without breaking change (since

[2021-07-28 16:12] markweitzel commented on #270
See: #4339

[2021-07-29 18:12] heaths commented on #265
Why not just remove the preceding slash like with option C? From the internal discussion it seemed some people were pretty adamant about having the preceding slash but I didn't understand *why*. There's already an established pattern out there so I wonder why we should be different.

[2021-07-30 15:56] markweitzel opened #274 "Add further guidance on idempotency"
Determine the proper guidance relative to OASIS or HTTP working group (Stripe).
See the [comment](https://github.com/microsoft/api-guidelines/pull/264/files#r679441640) in the initial PR.

[2021-07-30 16:19] andneilmsft commented on #273
Thanks for taking this on!

[2021-07-30 16:24] markweitzel commented on #265
We are proposing that we will go with option C from above, removing the leading "/".
Therefore, actions will look like... ```https://{host}/formrecognzier/documentModels/prebuilt-receipt:analyze```

@bojunehsu -- Would you mind taking a look?

[2021-07-31 01:16] bojunehsu commented on #265
Looks good.

Note that in addition to using colon to specify path variables, Postman also supports the use double curly braces.  The following are equivalent.
* https://host/collection/:id/
* https://host/collection/{{id}}/

https://blog.postman.com/10-tips-for-working-with-postman-variables/

[2021-08-03 13:04] markweitzel opened #275 "Add guidance for "wrapping" industry API"
Sometimes, service teams need to implement the API for another service to be conformant, interoperability, etc. An example of this is mongo.db, [Apache Atlas](http://atlas.apache.org/api/v2/index.html) (e.g. for Purview), etc. We should call this out in the considerations document any patterns that would be helpful.

[2021-08-03 16:02] mikekistler commented on #273
I reached out to @vladimirjoanovic for a pointer to the RP/ARM API Guidelines.  Here's his response:

[2021-08-04 22:31] mikekistler commented on #273
Using information from:
- [OpenAPI Specifications Authoring - Automated Guidelines](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/openapi-authoring-automated-guidelines.md) and
- [OpenAPI Specifications Authoring - Manual Guidelines](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/openapi-authoring-manual-guidelines.md)

I recommend that we add the

[2021-08-06 02:45] mkistler commented on #265
Here's a bit of unexpected but welcome news: Postman just release a new client, 8.10, _that fixes the problem with path segments starting with ":"_.  Woo hoo!

I tested it and confirmed that it works. It looks like Postman still considers the segment starting with ":" as a path variable, but if you don't assign it a value, it uses simply substitutes the path variable name, which is just what we wa

[2021-08-08 19:25] mikekistler commented on #273
There was a question raised in a recent API review on consistency of the Azure API guidelines vs ARM guidelines on whether URL path segments should be treated as case-sensitive or case-insensitive.

Today I discovered something in the ARM API guidelines that might have led to this impression.  See [this section of the ARM API guidelines](https://github.com/Azure/azure-resource-manager-rpc/blob/mas

[2021-08-09 17:26] markweitzel commented on #231
Changes merged

[2021-08-09 17:26] #231 closed, assigned to markweitzel

[2021-08-09 17:37] markweitzel opened #279 "Update the readme of the main MS guidelines..."
Many Azure service teams land directly on the MS Guidelines and don't realize they need to use the updated content that we produced. We need to clean up the landing experience for a service team.

[2021-08-11 18:01] JeffreyRichter opened #280 "Create guidelines on acronym casing in query params & JSON"
I think we should define guidelines for acronym casing to increase consistency across Azure services.  This came up because Go's acronym guidelines are that acronyms are all uppercase (Ex: HTTP) while .NET's is all uppercase for 2-letters  and mixed case for 3+ letters. It would be nice if there was a casing guideline for HTTP customers and it made it easy for code generators to do the right thing

[2021-08-12 19:45] mikekistler opened #281 "Add guidelines for RBAC"
We should provide guidance to Azure service teams on how to design and implement RBAC for their resources.

Some possible sources of material:
- the Azure ARM wiki
- the definition of the ARM RBAC API: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/authorization/resource-manager/Microsoft.Authorization/stable/2015-07-01
- the definition of the KeyVault RBAC API: https://gi

[2021-08-12 19:57] annelo-msft commented on #281
In addition, @sschaab has shared this with us:

Regarding Azure-wide guidance surrounding RBAC APIs:

I'll update this issue as we learn more.

[2021-08-17 16:18] #260 closed, assigned to markweitzel

[2021-08-27 16:16] mikekistler commented on #280
I think we should not uppercase acronyms in the API definitions. We should use standard Pascal case for Schema names and camel case for property and parameter names.  (This last part is already clearly stated in the guidelines).

Languages that want acronyms to be upper-cased or some special casing can implement that in their generators. BTW Swift also wants common acronyms to be all upper-cased.

[2021-08-27 21:17] JeffreyRichter commented on #280
I can agree with this. I do think we should have an explicit guideline bullet that explicitly states that acronyms should be pascal cased. If we don't some will do it one way and will do it another way.

[2021-08-31 19:01] mikekistler opened #283 "[Azure] Add guidance for batch operations"
There are some good and not-so-good patterns for implementing bulk operations.  We should provide guidance on these.

[2021-09-02 05:38] TimLovellSmith opened #284 "Q. must a PATCH upsert that creates a new resource return 201 Created and Location header?"
It seems logical/implied, by the ideas that PATCH will have create semantics when it allows upsert semantics (same as PUT), and a similar clause that exists for POST - that if POST creates a resource it should return 201 created and a Location header.

[2021-09-08 13:14] #239 closed, assigned to nobody

[2021-09-08 13:16] markweitzel opened #286 "Determine guidance for top level error code mapping to HTTP status codes"
Determine if top level error codes should map to HTTP status codes or be more granular. Provide a consistent set of guidance for our service team partners.

[2021-09-08 22:58] johanste commented on #286
The [OData v4](http://docs.oasis-open.org/odata/odata-json-format/v4.0/os/odata-json-format-v4.0-os.html#_Toc372793091)  specification says:

There is no strict requirement that we follow OData to a tee here (we are clearly taking liberties in other areas), but the rationale as to what the value represents should carry over.

[2021-09-13 13:00] markweitzel opened #287 "Determine "value" or "values" recommendation"
The `value` (singular) naming convention comes from OData. I don't think we've been consistent in Azure. I'd do an inventory of what is being used today and unless there is a clear winner/a large majority uses `value`, I don't have a strong opinion. We obviously wouldn't want to recommend breaking changes to "fix" the consistency problem, however.

_Originally posted by @johanste in https://github

[2021-09-14 16:49] #266 closed, assigned to mikekistler

[2021-09-14 19:11] mikekistler opened #289 "Address dangling PR comments on LRO Guidelines"
@tg-msft left a few comments on the LRO Guidelines that we did not get to address before merging.  We should address these in a follow-on PR:

![image](https://user-images.githubusercontent.com/85643503/133319320-2b91d83f-ad49-41c8-9ace-af9ec1c4e2b8.png)

[2021-09-15 00:47] briancr-ms opened #290 "DELETE entries in Optimistic Concurrency table should probably be If-Match"
In the table in the Optimistic Concurrency section (https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#optimistic-concurrency), should the header for the DELETE entries be If-Match (not If-None-Match)?

If-Match is commonly used on state changing methods, like DELETE.

For DELETE, If-Match: "xyz" should return 412 if the value on the server does not match the value provided

[2021-09-16 14:24] mikekistler commented on #287
It does appear that "value" is much more commonly used than "values".  A quick search in azure-rest-api-specs shows:

- "value": { --14344 results in 4062 files
- "values": { --357 results in 208 files

Note that this simple text search might not be completely accurate, but the results are so lopsided I think the conclusion is still safe.

But I personally find using a singular name for an array p

[2021-09-16 14:37] mikekistler commented on #280
Fixed in 7db5a22.

[2021-09-16 14:37] #280 closed, assigned to nobody

[2021-09-16 14:38] mikekistler commented on #265
We decided to go with the ":" separator without the "/".  This is consistent with the Google convention and it avoids the issue with Postman.

[2021-09-16 14:38] #265 closed, assigned to markweitzel

[2021-09-16 14:41] mikekistler commented on #271
Closing for now.  We can reopen or create a new issue if we discover that some guidance like this is needed.

[2021-09-16 14:41] #271 closed, assigned to markweitzel

[2021-09-16 14:44] mikekistler commented on #279
Fixed in #288

[2021-09-16 14:44] #279 closed, assigned to markweitzel

[2021-09-16 14:47] mikekistler commented on #259
Closing in favor of #273.  I'm using the newer issue rather than this one because it already contains some discussion and results.

[2021-09-16 14:47] #259 closed, assigned to mikekistler

[2021-09-16 14:51] mikekistler commented on #245
Closing as it seems this has been addressed in the guidelines that were merged in #277.

We can reopen or create a new issue if necessary.

[2021-09-16 14:51] #245 closed, assigned to markweitzel

[2021-09-16 23:21] mikekistler opened #292 "Add guidance for handling multiple authentication methods"
Some services allow a standard "bearer" authorization with user token but also API Key authorization.  We should provide guidance on how this is done so we can get some consistency across Azure services.

[2021-09-20 13:31] mikekistler commented on #287
Another point we may want to consider is that the ARM openapi validator already checks specifically for “value” in the body of a pageable response.  It is rule [R3008](https://github.com/Azure/azure-rest-api-specs/blob/master/documentation/openapi-authoring-automated-guidelines.md#r3008-collectionobjectpropertiesnaming).

[2021-09-20 18:21] johanste commented on #287
That should not have been an ARM rule. It was applicable to all API designs.

[2021-09-20 19:42] markweitzel commented on #287
## API Stewardship LT meeting 9/20
We will update the guidelines to specify the singular ```value```

[2021-09-20 19:42] #287 closed, assigned to markweitzel

[2021-09-28 20:46] markweitzel commented on #275
See:  [#4942](https://github.com/Azure/azure-rest-api-specs-pr/issues/4942)

[2021-10-01 03:25] czubair opened #294 "Pagination in listing APIs"

[2021-10-01 03:32] czubair opened #295 "API path colon usage with verbs"

[2021-10-15 15:10] #294 closed, assigned to nobody

[2021-10-15 15:10] #295 closed, assigned to nobody

[2021-10-20 17:43] mikekistler opened #298 "Broken links in Azure API Guidelines"
There are a few broken links in the [table of headers](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#http-query-parameters-and-header-values) in the Azure API Guidelines:

- the "see Customer Support" link is just a "TODO"

- the "Distributed Tracing & Telemetry" links do not work.

[2021-10-20 17:45] mikekistler opened #299 "Clarify format of date-base version"
The documentation (see [here](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#api-versioning)) isn't clear on the format. From the example, I can infer the first 4 digits are the year, but it's not clear whether it is YYYY-MM-DD or YYYY-DD-MM.

[2021-10-30 15:13] mikekistler commented on #290
That sounds right to me.  If none match, then I'm not sure what we'd be asking to delete.

[2021-11-01 17:48] #290 closed, assigned to mikekistler

[2021-11-01 17:48] #298 closed, assigned to mikekistler

[2021-11-01 17:48] #299 closed, assigned to mikekistler

[2021-11-16 13:55] mikekistler commented on #284
I think the [Azure API Guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#http-return-codes) are reasonable clear that `201` should be returned whenever a resource is created:

But there is no explicit guideline for returning `Location` on a create, and there probably should be.

[2021-11-17 11:19] colgreen opened #304 "orderBy: Clarify meaning of "A special case of such an expression is a property path terminating on a primitive property""
What does this sentence mean (in the section about `orderBy`)?

Surely all orderBy strings refer to a specific property. What is meant by 'primitive' property, and why is that relevant here?

Thanks.

[2021-11-19 20:28] mikekistler opened #306 "Add guidance for support of HTTP/2"
We should add guidance for teams that want to support HTTP/2. In particular, HTTP/2 requires header names to be all lower-case, as opposed to HTTP/1.1 which just said that they are case-insensitive.

Potential guidance could include that HTTP/2 support is enabled only in a new API version.  That would allow clients to "opt-in" to using HTTP/2 or "opt-out" if they are not written to expect the subt

[2021-11-30 21:29] tg-msft opened #307 "[Azure REST API Guidelines]: Add correlation header guidance"
Our guidelines should suggest `x-ms-client-request-id` for correlation with customer support.

[2021-12-03 08:11] ymarcov opened #308 "[Azure REST Guidelines] Information on LRO Result"
At the moment, the docs for LROs say nothing on how to communicate the result of the LRO in the Status Monitor option.

From looking at AutoRest code, which seeks to implement these guidelines, it seems that the following holds:

1. The original request that adds an `Operation-Location` header with the Status Monitor URL should also add a `Location` header with the URL where the final result objec

[2021-12-09 19:13] DominikMe opened #310 "[Azure REST API guidelines] Conflicting guidance on `status` values for resource-based LROs"
The section [Resource-based long-running operations](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#resource-based-long-running-operations) states

However, this doesn't seem to make much sense as `succeeded|failed|canceled` describe the status of the **action on a resource** but not the status of the **resource** itself.

The same section gives an example of setting st

[2021-12-09 19:14] DominikMe commented on #310
cc @navali-msft, @mikekistler

[2021-12-10 13:13] mikekistler commented on #310
Agreed that this is confusing and we should clarify/fix.

[2021-12-10 18:38] tg-msft opened #312 "[Azure REST API Guidelines] Provide a default table of generic error codes for usage errors"
We should provide a suggested starting point for common error code values in the [Considerations for Service Design doc](https://github.com/microsoft/api-guidelines/blob/vNext/azure/ConsiderationsForServiceDesign.md).  I've often pointed other services at Storage for an example ([Common](https://docs.microsoft.com/en-us/rest/api/storageservices/common-rest-api-error-codes), [Blobs](https://docs.mi

[2021-12-21 16:16] mikekistler opened #313 "Add guidance on time zone for RFC 1123 dates"
The Azure API Guidelines specify that RFC 1123 format should be used for date values passed in headers.  RFC 1123 says:

Timezone names are problematic, particularly in the handling of "daylight" times.

We should consider strengthening the API guidelines to either:
- DO express date values in headers as GMT times with the "GMT" or "Z" timezone designator, or
- DO use numeric timezones or "GMT" or

[2022-01-06 16:57] mikekistler opened #315 "Error response should clearly distinguish usage errors from runtime errors"
Our update guidance on error responses categorizes errors as either usage or runtime errors. I think this is a useful distinction and the error response should clearly distinguish these two types of errors.

[2022-01-06 17:10] markweitzel opened #316 "Refactor the guidelines to remove swagger modeling recommendations..."
There are sections of the guidelines where the "what" to do is co-mingled with the "how" to do it. [Extensible Enums](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#use-extensible-enums) are one good example of this. We should consider moving this type of guidance to the [Azure REST API Style Guidelines](https://aka.ms/azapi/style).

[2022-01-06 17:15] markweitzel opened #317 "Clarify guidance when a service has both long-running and "sync" versions of the same operations"
**Proposed Guidance**
Include the status code as an additional property inside the 200's error property. We do that in many of our batching APIs for a similar example that's worked well. If folks agree, I think we'd want that recommendation in the LRO section.

[Initial Discussion](https://github.com/microsoft/api-guidelines/pull/311#discussion_r769177040)

[2022-01-19 07:10] mikekistler opened #318 "Document how to implement "RELO" type LRO for action operations"
The guidelines recommend adding ":<action>" to the URL for a resource for an operation that performs an "action" that does not fit into the normal "CRUD" framework. But if that action operation is long-running, the standard pattern for RELO is unclear since it is not clear what the "URL for the resource" is.

We can solve this be requiring an action operation that wants to be a RELO LRO should ret

[2022-01-19 14:48] markweitzel opened #319 "Update & revise Long Running Operation guidance"
Over the past several weeks, there have been a number of issues that have come up around our current LRO guidance. This is the parent issue for revisiting and updating our recommendations in a more holistic manner.

### Related Issues
#289
[`api-version` in the `Operation-Location` header for LROs]
(https://microsoft.sharepoint.com/:o:/t/AzureAPIStewardshipBoard/EoBZoCVHn2ZAsBHj3io3ZekBiyQLEsQ0Kvo

[2022-01-19 16:24] JeffreyRichter commented on #319
Mike, will you be scheduling a meeting with all of us to kick this off?

[2022-01-19 18:50] mikekistler opened #320 "Clarify guidelines on Bring-Your-Own-Storage"
Some teams report that the current language is confusing, e.g. "Is "Bring Your Own Storage" a design pattern or service/API/library?"

We should try to clarify that it is the _customer_ that creates and stores the data into an Azure Storage account and then just provides the location of the data to the API.

[2022-01-19 23:33] mikekistler commented on #319
@haocornell-ms FYI

[2022-01-20 18:38] darrelmiller opened #321 "Casing of compound product names"
Product names like OneDrive, SharePoint and OneNote MUST appear as onedrive, sharepoint and onenote when used in identifiers.

[2022-01-25 19:26] mikekistler opened #322 "Add guidance on API design that is amenable to RBAC authorization"

[2022-01-27 07:43] bexxx opened #323 "Different spelling used for "cancelled" (rest guidelines) and (canceled) Azure guidelines"
Is it intended that the two guidelines spell this differently?

[2022-02-01 23:35] #261 closed, assigned to mikekistler

[2022-02-04 14:48] markweitzel commented on #283
Snip from email with @tg-msft

[2022-02-08 15:00] mikekistler opened #328 "Improve guidance on date-time values passed in headers"
The current Azure API Guidelines state (though maybe not clearly) that date-time values passed in headers should be formatted as RFC 1123 date-time strings.  And certain headers. such as "Date" and the OASIS "Repeatability-First-Sent" explicitly require this format.

But OpenAPI (both v2 and v3) say that "date-time" values should be sent in RFC 3339 format. And Azure APIM enforces this format for

[2022-02-08 15:07] mikekistler commented on #328
Actually, "if-modified-since"/ "if-unmodified-since" are also clearly defined in RFC 7232 as an "HTTP date" -- RCF 1123.

https://datatracker.ietf.org/doc/html/rfc7232#section-3.3

[2022-02-08 16:14] mikekistler commented on #328
Capturing a comment from a side discussion on this topic:

[2022-02-08 19:34] johanste commented on #328
It is perfectly fine for us to provide guidance that disallows such use in Azure services. Which would make it more of a theoretical problem than a real one.

[2022-02-08 21:27] mikekistler commented on #328
A closer reading of RFC 7231 shows that it recommends (but does not mandate) that date-times always be expressed in GMT:

So we should maybe make this a requirement in the Azure API Guidelines.

[2022-02-09 16:17] mikekistler opened #329 "Fix formatting of URLs in Azure API Guidelines"
The current guidelines contain some URLs inside code blocks labeled with "http", and these are rendered as ugly red highlighted text.  E.g.:

[code]

We can fix the formatting by labeling these with "text" instead:

[code]

[2022-02-11 14:34] Ayse1974 opened #330 "Privacy policy api💬"

[2022-02-25 15:05] mikekistler opened #331 "Add guidance on patching polymorphic types"
Add guidance on how to patch a polymorphic type (it is a bit tricky).

Clipped from email stream:

@bexxx says:

We discussed to change the ScaleSettings type of a deployment from a flat type to one using polymorphism to be future proof (in case we add a second type like “TrafficBased”…) and use the ScaleType as the type discriminator.
I did the changes and for GET and POST it looks ok.

Now we al

[2022-03-08 19:33] czubair opened #332 "Polymorphism, Versioning, Extensible Enums"
We want a production workload/client to not break because of something “new” happening that the client had never seen before. This applies even if the “new” behavior was technically already allowed/something the client should have taken into account according to the service documentation.

This is why we say (and enforce unless you can get an exemption after explaining your specific situation to t

[2022-03-08 19:49] markweitzel opened #333 "Discuss & determine recommendation for soft delete"
Initial starting point:
https://microsoft-my.sharepoint.com/:w:/p/jeffreyr/EYEA2y7OZ_VDmiV_9y1ctdcB6CZ5b38QuFw3WYu5lRK_Ng?e=6PH8YZ&isSPOFile=1

[2022-03-08 21:58] JeffreyRichter opened #334 "Add guidelines about durations using a time unit (seconds, minutes, etc.) with a number value and NOT using ISO8601"

[2022-03-08 21:59] mikekistler opened #335 "Add guidance on the format for time duration values"
In particular, don't use the ISO 8601 duration format because it is poorly supported in language runtimes.

We should have guidance something like:

[2022-03-08 22:39] heaths commented on #335
I would at least extend the samples - your `?` in the block comment - to include "days, months, years" to solve the anniversary problem. Rotating keys every 3 months (P3M) or certificates every year (P1Y) or two (P2Y) are very common scenarios. I would hope that people wouldn't get the impression they could or should only support something like "365 days" when that is insufficient.

[2022-03-16 00:46] heaths commented on #334
Duplicate of #335

[2022-03-25 20:05] #329 closed, assigned to mikekistler

[2022-03-31 19:35] mikekistler opened #342 "Add guidance on case folding on enum values"
We should update the Azure REST API guidelines to explicitly state that enum values should be treated as case sensitive.

[2022-04-01 17:02] mikekistler commented on #342
@JeffreyRichter recommends:

- Enum casing MUST be camelCase
- Enum matching MUST be case-sensitive

[2022-04-12 18:06] scgbear commented on #257
@mikekistler and @johanste, here's a draft of Johan's guidance above integrated into the existing content for Computing ETags...

Computing ETags
The strategy that you use to compute the ETag depends on its semantic. For example, it is natural, for resources that are inherently versioned, to use the version as the value of the ETag. Another common strategy for determining the value of an ETag is t

[2022-04-12 18:55] scgbear commented on #257
Created PR #344 with this content.

[2022-04-20 16:53] PaulDempsey-ms opened #345 "How does one "Engage the Azure REST API Stewardship Board"?"
In several places, these docs instruct teams to "Engage the Azure REST API Stewardship Board", but it doesn't explain exactly how one does that. Is that on Microsoft Teams?, email?, opening an issue here? You can't engage unless there is some venue to do so.

- [Microsoft Azure REST API Guidelines: Final Thoughts](https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#final-tho

[2022-04-30 08:58] joseharriaga opened #348 "Add guidance about how to handle unrecognized query params, well-known but unsupported headers, & unrecognized fields in a request body"
Regarding header parameters, the guidelines say:

Regarding query parameters, the guidelines say:

**However**, this last sentence is not mentioned in a generic context but specifically in the context of the query parameters used to query collections (e.g. `filter`, `orderBy`, etc.).

💡 It would be great to have explicit guidance about how services should handle the following:
1. Unrecognized quer

[2022-05-05 03:18] mikekistler commented on #345
@PaulDempsey-ms Fair point. We'll update the doc, but any of the means you mention -- teams, email, GitHub issue -- are all welcome.

[2022-05-05 03:21] mikekistler commented on #348
All good questions! We'll try to get these clarified in the next round of guidelines updates.

[2022-05-05 17:15] heaths commented on #342
Perhaps it goes without saying, but I think we should be explicit about guidance for acronyms like "LUIS", that they should be all lowercase like "luis".

[2022-05-05 23:21] PaulDempsey-ms commented on #345
Great. Make sure to link to the Team, and provide the specific email address.

[2022-05-20 14:01] markweitzel opened #356 "Create guidance for deprecating versions & version discovery..."
As of PR #352 we removed the section on version discovery because this was out of date. However, we do need to provide guidance on how developers can understand when things are deprecated and what versions are supported.

[2022-05-20 14:02] microsoft-github-policy-service[bot] opened #358 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-21 18:05] markweitzel opened #359 "Create guidance for additional properties"
In Azure, we have additionalProperties that in swagger is just a free-form JSON object. While the free-form object allow greater expression, it also forces customer off a cliff where they have to get the entire JSON response, peel off the additionalProperties object and deserialize it themselves into their own customer-defined structure and/.or do a bunch of runtime casting/type conversions. Maybe

[2022-05-22 09:11] Sub69Beach69Sup opened #360 "Learning Together"

[2022-05-22 09:18] Sub69Beach69Sup commented on #360
I want to start with some common ground and attempt to learn as a team. I am not sure whether I have any help or if I am in this alone. But I think I will give it a shot and see what happens. I am limited in what I am able to do because I don't have access to a computer or laptop all of my work is currently restricted to my phone and my phone has been hacked since I got it. So that being said inpu

[2022-05-31 20:10] #358 closed, assigned to nobody

[2022-05-31 20:15] markweitzel opened #364 "Determine guidance on file upload size"
8Mb was traditionally the size beyond which network hickups started to become problematic. However, we should confirm this is still a valid size or if changes in the network infrastructure have improved this limit.

### References
[High Throughput Blob Storage](https://azure.microsoft.com/en-us/blog/high-throughput-with-azure-blob-storage/)

[2022-06-07 20:30] markweitzel opened #367 "Provide guidance on how GUIDs are used throughout the spec..."
In the LRO meeting, we realized during the `operation-id` discussion on #353 that how GUIDs are handled varies and could present some challenges.  This issue isn't isolated to `operation-id` but rather can surface anywhere a GUID is used, and potentially represented/treated as a string. We need to provide more clarity on how GUIDs should be treated.

[2022-06-07 20:32] markweitzel commented on #367
From Shawn:

[2022-06-07 21:18] markweitzel commented on #289
Addressed as part of #353

[2022-06-07 21:18] #289 closed, assigned to mikekistler

[2022-06-07 21:28] markweitzel commented on #331
#332 is related to this. I'm closing this one and we will use #331  one as the main issue driving this area of work.

[2022-06-07 21:31] markweitzel commented on #332
From #331

Clipped from email stream:

@bexxx says:

I did the changes and for GET and POST it looks ok.

I did the changes and for GET and POST it looks ok.

To enable the use of polymorphism here as well I need to make the scale_type (discriminator) required to know what type the user wants to patch, is this the accepted way?
Or should we do smarter validation and deserialization on the service

[2022-06-07 21:31] #331 closed, assigned to nobody

[2022-06-07 21:34] markweitzel commented on #332
Related: #342

[2022-06-07 21:34] markweitzel commented on #342
See: #332

[2022-06-07 22:15] markweitzel commented on #270
Duplicate: #283

[2022-06-07 22:15] #270 closed, assigned to markweitzel

[2022-06-08 00:42] rysweet commented on #283
Here are these:

    https://docs.aws.amazon.com/batch/latest/APIReference/Welcome.html

    https://cloud.google.com/tasks/docs/reference/rest

[2022-06-08 00:43] rysweet commented on #283
thinking about code flows that customers have today you could look at things like docusign, certain dynamics apis, adobe image processing workflows, nuance sdks, etc.

[2022-06-08 03:15] markweitzel commented on #319
Incorporated as part of #317

[2022-06-08 03:15] #319 closed, assigned to markweitzel, JeffreyRichter, mikekistler

[2022-06-08 08:39] gareth-a-jones commented on #360
This appears to be spa,.

[2022-06-08 08:39] #360 closed, assigned to nobody

[2022-06-14 16:36] mikekistler opened #368 "Add naming guidance to Azure API Guidelines"
Add guidance for naming of properties, parameters, etc to the Azure API Guidelines.

We can probably borrow some of the guidance the MS Graph team has written:

https://github.com/microsoft/api-guidelines/blob/vNext/graph/GuidelinesGraph.md#naming

[2022-06-17 23:33] annelo-msft opened #371 "Document whether service should include api-version in nextLink or Operation-Location"
The Azure SDK arch board has decided SDKs will handle `api-version` in `nextLink` and `Operation-Location` as described in this issue: https://github.com/Azure/azure-sdk/issues/3817#issuecomment-1033226508

However, I believe it is still undocumented what services should actually implement, whether these should include `api-version` or not.  This issue tracks adding this guidance to the REST API g

[2022-06-20 12:47] markweitzel opened #372 "Update how client's handle `nextlink`"
**From convo w/Jeffrey Richter**

[2022-06-20 20:54] annelo-msft opened #373 "Document when to use an LRO vs. a VLRO in REST APIs"
In the DeviceUpdate API, some operations use the `x-ms-long-running-operation` tag, where others are represented as a resource.  This is according to the guidance found in the current API guidelines:

It would be great to clarify guidance regarding when specifically to use operations on another resource vs. a standard LRO, and what this pattern looks like.

@JeffreyRichter, @mikekistler, @johanste

[2022-06-20 21:01] JeffreyRichter commented on #373
I'll kick start this:
Use a real resource instead of an LRO if
- A client needs to LIST the operations (or subset thereof).
- The operation result can live a long time (typically more than 24 hours).
- The operation could take longer than a client would want to poll.
  - I admit this is wishy-washy but maybe > 5 minutes? I'm open to other ideas here or killing this bullet entirely.

[2022-06-20 21:04] JeffreyRichter commented on #372
Can @mikekistler just update the guidelines. I think we're all in agreement on this.

[2022-06-23 22:21] heaths commented on #368
A few common ones come to mind re: dates e.g.,

* `createdOn`
* `updatedOn`
* `notBefore`
* `expiresOn` (often `notAfter`)
* `confidence`/`confidenceThreshold` (drop "Score")

Some of these were discussed at length early on for our first track 2 GAs like Key Vault, but I think over time have been forgotten. Better to bake that into the swagger development process - or at least into the code gen /

[2022-06-26 16:25] mikekistler commented on #371
PR #353 contains explicit guidance for the `Operation-Location` header returned by LROs:

It is safe to exclude `api-version` for `Operation-Location` because, if the service follows the new LRO guidelines, the operation that this header references is clearly documented in the REST API definition and this definition will indicate that an api-version query parameter is required.

Unfortunately, the

[2022-06-30 14:04] mikekistler commented on #371
I discussed this issue with @JeffreyRichter and he (grudgingly) agreed that we should direct services to include the api-version in the `nextLink` property.

The Azure SDKs should replace the value of api-version with the one specified by the user, as [required in the Azure SDK Guidelines](https://azure.github.io/azure-sdk/general_design.html#:~:text=%E2%9C%85%20DO%20add%20or%20replace%20the%20api

[2022-06-30 15:35] mikekistler commented on #372
The [Azure SDK Guidelines](https://azure.github.io/azure-sdk/general_design.html#service-api-versions:~:text=%E2%9C%85%20DO%20add%20or%20replace%20the%20api%2Dversion%20query%20parameter%20on%20any%20URI%20returned%20by%20the%20service%20e.g.%2C%20Operation%2DLocation%2C%20next%20page%20links%2C%20etc.%2C%20with%20the%20service%20version%20passed%20configured%20on%20the%20client.) are already very

[2022-06-30 15:46] JeffreyRichter commented on #372
This sounds good to me. I might change "next page links" to "nextLink".

[2022-07-13 16:22] darrelmiller opened #377 "Comments on Graph Operations pattern"
https://github.com/microsoft/api-guidelines/blob/27aa5a2983d162edf8f4a58360019d4efedbb5dd/graph/patterns/operations.md?plain=1#L5
Operations do not necessarily need to affect multiple resources.  e.g. Creating a resource via POSTing to a collection may be a LRO that only creates a single resource.

[2022-07-13 16:30] #377 closed, assigned to OlgaPodo

[2022-07-13 22:30] mikekistler opened #379 "Add guidance on the value of `WWW-Authenticate` header in 401 response"
HTTP services are required to include a `WWW-Authenticate` header in a `401 Unauthorized` response per [RFC 7235](https://datatracker.ietf.org/doc/html/rfc7235#section-3.1):

But Azure service teams currently are left on their own to decide what constitutes an "applicable challenge", leading to inconsistency in the result and possible confusion for users.

@schaabs has some concrete thoughts on go

[2022-07-14 17:39] #317 closed, assigned to tg-msft, mikekistler

[2022-07-14 19:27] #371 closed, assigned to mikekistler

[2022-07-14 22:26] MScheleo opened #380 "unknownFutureValue in Evolvable enums"
About the unknownFutureValue from [Evovable enums](https://github.com/microsoft/api-guidelines/blob/vNext/graph/patterns/evolvable-enums.md), I have some questions regarding to how it works.

1. Do developers need to convert the values after unknownFutureValue to unknownFutureValue in the code? I heard this is automatically handled. If it's automatically handled, how is the value parsed/shows when

[2022-07-19 23:38] JeffreyRichter commented on #368
For Boolean naming, I like the guidance [here](https://pike96.com/posts/boolean-naming-conventions/)

[2022-07-22 15:24] XVincentX commented on #380
@OlgaPodo Who is the best person to ask these information - and integrate this in the document?

[2022-07-22 16:15] corranrogue9 commented on #380
@MScheleo, I was trying to go through point-by-point, but I think maybe there are fewer questions if I try to address the biggest confusion. Moving `unknownFutureValue` is a breaking change. This is understood. Clients that have not moved on during the deprecation process will be broken. The service is not expected to support clients that are trying to consume a version of the API that is no longe

[2022-08-09 22:19] DominikMe opened #384 "Link to Breaking Changes policy is inaccessible"
The Azure guidelines refer to http://aka.ms/AzBreakingChangesPolicy/ which shows as a broken link
<img width="326" alt="image" src="https://user-images.githubusercontent.com/1885005/183771727-bdbfd1e1-77be-42df-9da5-84ff93a4a20d.png">

Please consider either making the Breaking Changes policy a public document, or give read access permissions to all Microsoft employees.

[2022-08-15 22:20] forteddyt opened #385 "Conflicting guidance in Azure guidelines on ODATA query parameters names"
In https://github.com/microsoft/api-guidelines/blob/vNext/azure/Guidelines.md#query-options, it states

However in other Azure API guidelines (such as https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md) there is consistent examples of these ODATA query parameters being defined with a leading `$`.

Which is correct? Do I define my ODATA query parameters w

[2022-08-16 17:06] JeffreyRichter commented on #385
The first link is for Azure data-plane services. The second link is for RPs. We're working on aligning these more as time goes on and I suspect that RPs would adopt the removal of the $. Whether you can do this now or now for an RP is up to the members of the ARM team; you'll need to contact them.

[2022-08-16 18:32] #385 closed, assigned to nobody

[2022-08-17 13:47] markweitzel opened #386 "Add guidance for deprecation"
In working with service teams, we need to add a way for them to indicate an API or part of their service has been deprecated. The API case is quite straightforward. However the "part of the service" is referring to cognitive services where they may deprecate a model.

We are looking at [draft deprecation header](https://datatracker.ietf.org/doc/html/draft-ietf-httpapi-deprecation-header) and
[suns

[2022-08-17 13:51] markweitzel commented on #386
@markweitzel -- I spoke with Darrel Miller of the Graph team this morning. We discussed the deprecation header, sunset header, and on going work around the "lifecycle" header. While we should complete the due diligence, at first pass, what is proposed in the ietf may be too complicated.

It is definitely recommended that we prefix with `azure-`

[2022-08-17 14:04] tomkerkhove commented on #386
I think this is a valuable topic as I have to upload API deprecations every now and then on my OSS project (https://github.com/azure-deprecation/dashboard). Here are the currently deprecated API endpoints that I know off/we have announced: https://github.com/azure-deprecation/dashboard/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3Aarea%3Aapi-endpoint

I wonder, though, if we should use

[2022-08-17 15:56] JeffreyRichter commented on #386
@tomkerkhove : You have to give a reason why you are proposing the 3 headers and state explicitly how you think this might be used by customer/client code. Right now, our thinking is that there is nothing a program could do by examining these header(s) and the header information MUST be acted upon by a person. Deprecations mean that a breaking change is happening requiring a programmer to fix thei

[2022-08-17 17:06] tomkerkhove commented on #386
I will reply to the other content tomorrow but wanted to reply to this:

This is not a single pane of glass given it is a stream of updates. It does not provide an easy overview of all open depreciations (for a service) that I can filter on my behalf. The repo above is a single pane of glass though (blog.tomkerkhove.be has some posts on how to use it at best)

[2022-08-18 12:56] tomkerkhove commented on #386
The reason why I was considering separate headers is that telemetry pipelines might more properly handle them by storing them in separate columns (ie Application Insights/Log Analtyics) nor do end-users need to parse the header values to know what is going on, but I don't have a strong opinion on this.

I did not think of this, good thinking.

[2022-08-18 17:37] JeffreyRichter commented on #386
See PR #387 for first stab at official Azure guidelines

[2022-08-23 23:02] SIXX5GXT opened #389 "https://github.com/SIXX5GXT/SIXX5GXT/releases/tag/untagged-68482229950be4bcd9a4"
https://github.com/SIXX5GXT/SIXX5GXT/releases/tag/untagged-68482229950be4bcd9a4

[2022-08-30 16:33] annelo-msft opened #393 "Clarify guidance for returning resources across api-versions"
For client development, it is important to know what a service will return in the following situation:

1. In service v1, there is a resource Foo with one property Bar, and operations to GET and PUT Foo.
2. In service version 2, an optional property Baz is added to Foo.  Assuming the service holds a resource Foo { Bar='a', Baz='b' },
    - GET Foo with api-version=v2 will return Foo { Bar='a', Baz

[2022-08-30 16:45] JeffreyRichter commented on #393
The answer is A. In fact, this is the main goal of the api-verison query parameter: a v1 client only ever sees what was documented and therefore expects to get. I responded more in email.

[2022-08-30 17:20] JeffreyRichter opened #394 "We should discuss a pattern for very long-running operations (VLROs)"
I think we do NOT want to recommend the LRO pattern for very long-running operations (VLRO) because the client will effectively hang if polling to completion to make forward progress.
We need a time when an LRO transitions to a VLRO; for example, I think we'd all agree that 1 hour is a VLRO and that clients should not poll for 1 hour.
I suspect we'd handle this like Johan's Build progress example

[2022-08-30 18:38] annelo-msft opened #395 "Prescribed error messages for versioning errors?"
For client development, it is preferred that clients don't do validation on requests and instead let the service validate and return any errors.  The justification for this is that the client then doesn't prevent forward-compatibility if a service makes changes in a later version that weren't allowed in an earlier version.

One practical issue that this raises is that service error messages don't

[2022-08-30 18:43] JeffreyRichter commented on #395
Yes, in fact this came up in a meeting I had just earlier today!
Do you have an initial list of potential error messages we could standardize?

[2022-08-30 18:48] annelo-msft commented on #395
I like the format suggested above:
- "Operation/property not supported in api-version=**x**; operation/property was added in api-version=**y**."

It feels like this would work for any addition?  Including extensible enum values, polymorphic type additions, other?

I can propose this in our next DPG design meeting to get further feedback on it.

[2022-08-30 18:56] JeffreyRichter commented on #395
I think we need multiple errors and while I like referring to a new api-version I think service teams will push back on the complexity of implementing it. So, how about:

- "api-version=x does not support this operation."
- "api-version=x doesn't support properties: bar, foo, baz."

[2022-08-30 18:59] annelo-msft commented on #395
If that's the best we can do, it's a lot better than not doing it!

I would ask, though, for the property additions, can we ensure that a service doesn't say "not supported in api-version x" for a property unless it was added in a later api-version?  While true for any unsupported property, I think the information is not helpful to the caller unless the property is supported in some later version.

[2022-08-30 19:53] JeffreyRichter commented on #395
I don't think the service team wants to keep track of what version a property is added in. So, by saying that api-version=x doesn't support it might encourage a customer to see what api-version does support it. Afterall, the customer is passing the property for a reason so they must think that the service is supposed to accept it.

[2022-08-30 20:13] annelo-msft commented on #395
I guess I'm saying, if I accidentally add a property to my request body that would never be supported in any of the service, e.g. "XJDKFJWERYYY=3", would the service tell me "api-version=x doesn't support property: XJDKFJWERYYY" ?  And is that more helpful than "invalid JSON" ?  Or are we assuming that if a caller is using a client, only reasonable properties that correspond to some version would

[2022-08-30 20:20] johanste commented on #395
I would be a bit cautious about forcing the service to add too much information to the error message. 400 responses should be fast/easy to compute for the service, and there very much should not be a need to modify existing deployments if a new API Version is deployed (e.g. to change the error message from "not supported" to "not supported in API Version X" or "not supported until version X"). Ple

[2022-08-30 20:53] annelo-msft commented on #395
If it's too much to ask services to do, I expect we can do post-facto validation on the client to side-step the perf hit/forward-compat concern of request validation and still produce a good error message to client users.  This would rely on services following the guidance to return 400 for an invalid query parameter (unsupported api-version) or when a JSON field name is not understood.

[2022-08-30 21:09] JeffreyRichter commented on #395
The SDK won't know which property/quer parameter was bad unless you parse the response body error message which the SDK should not do because we explicitly state that this is NOT part of the API contract.

[2022-08-30 21:18] annelo-msft commented on #395
If we got a 400 back, we could check the outbound request and see if we had set a value that wasn't supported in the api-version we sent with the request.  In generated code, we would know which api-version each property was added in from the Cadl.

We could feasibly set this on the request in the Send method - we would know then if something wasn't versioned correctly - but that takes the perf hi

[2022-08-30 21:20] JeffreyRichter commented on #395
I would not do this myself, but sure.

[2022-08-30 21:29] annelo-msft commented on #395
It would be best if the service could return an error that is helpful to the end-user.

[2022-08-30 21:30] JeffreyRichter commented on #395
Yes, I think it is incumbent upon our team to drive these kinds of changes into the service so that the improvements benefit non-SDK customers too.

[2022-08-30 21:30] JeffreyRichter commented on #395
Yes, I think it is incumbent upon our team to drive these kinds of changes into the service so that the improvements benefit non-SDK customers too.

[2022-08-31 20:14] markweitzel opened #396 "Update guidelines to include unique identifiers..."
In order to ensure we have proper coverage when creating linters, cadl libraries, etc. we need to be able to link back to specific rules within the the guidelines.

[2022-08-31 20:16] tg-msft commented on #396
See this link to a specific guideline https://azure.github.io/azure-sdk/dotnet_introduction.html#dotnet-general-follow-general-guidelines (where you'll notice all the checkboxes are hyperlinked) and see the markdown that generated it at https://github.com/Azure/azure-sdk/blob/main/docs/dotnet/introduction.md?plain=1#L53.

[2022-08-31 22:06] JeffreyRichter commented on #312
For unknown params/props, I propose an Error Code of "UnrecognizedParamOrProperty" with an Error Message of:
"Unrecognized query parameter or property: qp1, prop2, prop2."

where qp1, and prop# are the names of the properties passed by the client to the service so the customer knows how to fix the issue.

I'd rename "MissingRequiredValue" to "MissingRequiredProperty" with an Error Message of:
"Mis

[2022-08-31 22:32] annelo-msft commented on #312
Discussion regarding text for api-version errors here: https://github.com/microsoft/api-guidelines/issues/395

[2022-08-31 23:15] heaths commented on #395
But isn't that necessary for other discussions like ignoring and not returning models/properties for API versions that don't support them anyway?

Also, a bit of a nit: could we use something a little more normal user friendly? Maybe drop the `=` such that it's just "Operation/property not supported in API version **x**; operation/property was added in API version **y**."? It takes nothing away fr

[2022-09-01 21:26] JeffreyRichter commented on #395
The service code for any given api-version will know what properties it supports and any property it doesn't know about is considered unsupported - it won't know if another api-version supports it. So, it can't add the api-version when it was added.

Plus, imagine V2 adds the Foo property and V3 takes it away again. A customer using V1 passes Foo; now what should the service message return?

I'm h

[2022-09-01 22:40] annelo-msft commented on #395
@KrzysztofCwalina raised today that the service should validate the entire schema and the warning should identify all unsupported properties in the text, so that customers don't need to make subsequent calls to discover that they've made multiple mistakes.

[2022-09-02 17:31] JeffreyRichter commented on #395
Yes, I completely agree.

[2022-09-02 17:33] johanste commented on #395
Well, a common mistake is that people send the wrong model. Pity the fool that would send a NIC model to a create VM endpoint. You are almost going to need a paged error response.

[2022-09-02 17:35] JeffreyRichter commented on #395
OK then, how about the error message includes the first 10 or 20 then?

[2022-09-02 17:35] johanste commented on #395
Also, you really want to keep the error path for services efficient. The more processing we force the service to do, the more we open things up for what is effectively DOS of the service by sending incorrect data.

[2022-09-02 21:38] forteddyt commented on #342
just to clear up some confusion I have here, when you say `camelCase` do you mean names like `myCoolEnum` or do you mean `PascalCase`, like `MyCoolEnum`? I think the majority of enum values today follow `PascalCase`

[2022-09-02 22:17] JeffreyRichter commented on #342
I meant camelCase (like myCoolEnum) but it does seem that Azure is all across the board with this.
@markweitzel : Let's have the API Stewardship board discuss this next week (should be brief) and settle on a casing.

[2022-09-06 15:07] tg-msft commented on #312
Status Code | Error Code | Error Message
------------- | ------------ | ----------------
`404` | `ApiNotSupported` | The API at this path is not supported by `api-version` YYYY-MM-DD. [It is supported by `api-version`s greater/less than or requal to YYYY-MM-DD.] [It was deprecated following `api-version` YYYY-MM-DD.]

[2022-09-06 15:13] JeffreyRichter commented on #312
I have a hard time returning 404 for an unrecognized api-version if the resource actually exists. Instead, I think I'd consider this a Bad Request (400) from the client. I also think the error message should be more like "API version YYYY-MM-DD is not supported; see the supported versions at <some-URL>. Ex: https://docs.microsoft.com/en-us/rest/api/storageservices/previous-azure-storage-service-ve

[2022-09-06 19:57] tg-msft commented on #312
I think whether it's `400`/`404`/`405` might depend on how they get it wrong _(i.e., if I make a request for `GET /{resource-id}/children` when `resource-id` exists but the hardcoded `children` subresource did not until a later `api-version`, I don't think a `404` is unreasonable.  I'd also be fine with a `405` if the service didn't start supporting a given verb like `PATCH` until a later version)

[2022-09-06 20:00] heaths commented on #342
I'll see if I can find the notes, but I thought we already talked about this: that enum values should be PascalCase and case-insensitive matches. @markweitzel do you recall this? I can't seem to find any outcome in OneNote. I mean, I'm not opposed to discussing it (again?) and changing it, but figured we could at least have context of prior conversations.

[2022-09-06 20:05] JeffreyRichter commented on #342
I'm sure we want case-sensitive matches otherwise all kinds of problems ensue.
But I can't remember having a discussion on this.

[2022-09-06 21:02] mikekistler commented on #342
Despite the fact that I posted it on April 1, it was not a joke. I'm sure we discussed this and @JeffreyRichter (among others) recommended we go with camelCase (not PascalCase) and that matching is case-sensitive.

But we never actually hardened this into the actual guidelines, and if PascalCase is better for some reason I think we could change it.

But I don't think we should condone case-insensi

[2022-09-07 00:01] OlgaPodo opened #398 "Fix error code casing"
In our examples we use BadRequest error code which supposed to be in camel case and potentially use predefined enum type
https://github.com/microsoft/api-guidelines/blob/vNext/graph/GuidelinesGraph.md#error-handling

[2022-09-24 13:17] mikekistler commented on #320
I think the way to handle this is to create a "Bring Your Own Storage" topic in the ConsiderationsForServiceDesign that provides the context and rationale for the guidelines.

[2022-09-24 13:54] JeffreyRichter commented on #320
Yes, and maybe just a 1 or 2 sentence intro to the section in the guidelines too (in case people don't see the considerations section)?

[2022-09-24 14:52] mikekistler commented on #257
Closing as complete since PR #344 was merged.

[2022-09-24 14:53] #257 closed, assigned to johanste

[2022-09-30 15:18] markweitzel opened #402 "Run cspell in ci pipeline"
A different topic. Reminded by the fix on spelling in the PR, should we have a CI to run cspell (or some other lint tool) on it?

We had only a few words needs allow list, and a genuine incorrect one "simpify".
[code]

_Originally posted by @weidongxu-microsoft in https://github.com/microsoft/api-guidelines/issues/400#issuecomment-1260306565_

[2022-10-11 17:36] corranrogue9 opened #404 "Two letter acronym guidance"
In our [naming guidelines](https://github.com/microsoft/api-guidelines/blob/vNext/graph/GuidelinesGraph.md#naming), we say this about two-letter acronyms:

We also don't say anything specific about two-letter abbreviations. I think for ID (which is arguable if it's an acronym or an abbreviation, but I don't think it matters here) we have the general pattern of something like `myId` rather than `my

[2022-10-12 16:22] markweitzel opened #406 "Stronger recommendation for BYOS"
The language around managed storage vs. BYOS should be strengthened to recommend BYOS vigorously.

[2022-10-12 16:29] markweitzel opened #407 "Add "status" to naming guidelines"
There was a recent discussion around `state` and `status` to represent the current set of properties of a resource. We are settling on `status` to represent this concept.

[2022-10-18 19:15] TimLovellSmith commented on #284
Is PATCH being treated as upsert instead of update existing discouraged in general?

[2022-10-18 19:43] JeffreyRichter commented on #284
PATCH can be used for create as well as for update. If this is done, then PUT is not required at all. A location response header is not required for PUT or PATCH because the URL IS the location.
Do I understand your question accurately?

[2022-10-19 02:00] weidongxu-microsoft commented on #284
Is the question for LRO case or non-LRO case (latest data-plane guideline discourages LRO Patch, but LRO Patch is common in ARM)?

[2022-10-19 16:24] tombuildsstuff commented on #284
@JeffreyRichter

To be honest as a consumer of the API / Swagger/OpenAPI Definitions to be honest that's concerning to hear.

Since we've not seen any instances of this across Resource Manager (aside from the Monitor API, which is frankly pretty broken/different to the rest of Azure) - we're using the following to determine the CRUD for each Resource in the API:

* A POST/PUT against a given Resou

[2022-10-19 16:39] TimLovellSmith commented on #284
@tombuildsstuff To be clear, I'm definitely not recommending people use PATCH as their primary way of creating resources. PUT is great for that.

I'm just looking to clarify what Azure considers *OK* behavior when someone does a PATCH on a non-existent resource.

A PATCH request on a non-existing resource with an 'insufficient' set of properties (missing required details), seems to pretty obviousl

[2022-10-19 16:41] TimLovellSmith commented on #284
One of the main points I wanted to bring up in this issue was that service that DOES choose to create resources in response to such request, if its allowed, should be returning 201, to communicate that it had the creation side effect to the caller.

Since we don't normally require services to declare 201 in the list of possible responses for PATCH requests in swaggers etc, you can guess that if th

[2022-10-19 17:17] JeffreyRichter commented on #284
201 and 200 are effectively the same thing and our SDKs treat them identically. The reason is because if a PUT/PATCH creates a resource, the client may not get the 201 due to network failure/timeout. The client will retry the same operation again; but, this time, since the resource was previously created, the service returns a 200 (not 201). So, the client has to treat 200 & 201 as the same thing.

[2022-10-19 17:22] JeffreyRichter commented on #284
I can't answer if ARM allows PATCH for create as I focus mostly on Azure data plane services. Someone else (like @TimLovellSmith) will have to respond.

[2022-10-20 02:26] mikekistler opened #409 "Add naming guidance for date-time properties/parameters"
We originally included guidance on naming of date-time properties/parameters in #391 but could not come to consensus so dropped it to allow the remainder of the changes to be merged. But this is a issue we should address soon because it seems that each team chooses a different convention -- and sometimes there is variation even within a service.

[2022-10-26 17:03] markweitzel opened #410 "Add guidance for handling static path segments, e.g. `@me`"
We've had a numb
Add a guideline for how to handle me scenarios like Graph where it's a shortcut for the currently authenticated user. We need to provide some guidance on the proper pattern for this.

[2022-11-07 17:04] dkershaw10 opened #414 "Main guidelines should say that $expand is a should have"
See https://github.com/microsoft/api-guidelines/blob/vNext/graph/GuidelinesGraph.md#query-support
This doesn't mention $expand at all

IMHO this should be a "should have" for navigation properties.  We *could* qualify further with:

- `GET collection/{id}?$expand=navProp1` is "should have", and
- `GET collection?$expand=navProp1` is "nice to have" (as this is more computationally expensive for som